In [1]:
from mysql import connector

**Steps :**

`Download MySql Workbench ` [Click Here](https://dev.mysql.com/downloads/workbench/)

`Open MySql Workbench and Open MySql connector`

`On MyConnections click (+) symbol to create new connection`

`Add username and click on` **store in password vault** `for password`

### Connecting MySql with our Credentials..

> `Use those crediantials here to connect..`

In [2]:
Conn = connector.connect(host="localhost",
                        user="root",
                        password="")

In [3]:
Conn

### Creating Cursor Object for Executing Sql Commands

In [4]:
cursor = Conn.cursor()

In [5]:
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('carrental',)
('demos',)
('drugs_db',)
('information_schema',)
('multi_login',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('predictseve',)
('products',)
('surya',)
('test',)
('tutorial_search',)

### By Default there are some databases, to create customdatabase use sql command `CREATE DATABASE dbname`

In [ ]:
cursor.execute("CREATE DATABASE drugs_db")

In [6]:
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('carrental',)
('demos',)
('drugs_db',)
('information_schema',)
('multi_login',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('predictseve',)
('products',)
('surya',)
('test',)
('tutorial_search',)

`Here we can see our database tc_db`

In [7]:
cursor.execute("USE drugs_db")

`Above we are Selecting the created database as the active one`

In [ ]:
cursor.execute('''CREATE TABLE concept(concept_id INT(11) NOT NULL, 
                                    concept_name VARCHAR(255) NOT NULL, 
                                    domain_id VARCHAR(20) NOT NULL, 
                                    vocabulary_id VARCHAR(20) NOT NULL, 
                                    concept_class_id VARCHAR(20) NOT NULL,
                                    standard_concept VARCHAR(1) NULL DEFAULT NULL, 
                                    concept_code VARCHAR(50) NOT NULL,
                                    valid_start_date DATE NOT NULL,
                                    valid_end_date DATE NOT NULL,
                                    invalid_reason VARCHAR(1) NULL DEFAULT NULL);''')

In [11]:
cursor.execute("SHOW TABLES")

for x in cursor:
    print(x)

('concept',)
('standard_case_drug',)
('standard_case_indication',)
('standard_case_outcome',)
('standard_case_outcome_category',)
('standard_drug_outcome_contingency_table',)
('standard_drug_outcome_count',)
('standard_drug_outcome_drilldown',)
('standard_drug_outcome_statistics',)
('standard_unique_all_case',)
('vocabulary',)

`Here we got our concept table.Let's start creating all other remaining tables....`

In [14]:
cursor.execute('''CREATE TABLE vocabulary (vocabulary_id VARCHAR(20) NOT NULL,
                                           vocabulary_name VARCHAR(255) NOT NULL, 
                                           vocabulary_reference VARCHAR(255) NULL DEFAULT NULL, 
                                           vocabulary_version VARCHAR(255) NULL DEFAULT NULL, 
                                           vocabulary_concept_id INT(11) NOT NULL);''')

In [15]:
cursor.execute('''CREATE TABLE standard_case_drug (primaryid VARCHAR(512) NULL DEFAULT NULL, 
                                                   isr VARCHAR(512) NULL DEFAULT NULL, 
                                                   drug_seq VARCHAR(512) NULL DEFAULT NULL, 
                                                   role_cod VARCHAR(512) NULL DEFAULT NULL, 
                                                   standard_concept_id INT(11) NULL DEFAULT NULL);''')

In [16]:
cursor.execute('''CREATE TABLE standard_case_indication (primaryid VARCHAR(512) NULL DEFAULT NULL, 
                                                        isr VARCHAR(512) NULL DEFAULT NULL, 
                                                        indi_drug_seq VARCHAR(512) NULL DEFAULT NULL, 
                                                        indi_pt VARCHAR(512) NULL DEFAULT NULL, 
                                                        indication_concept_id INT(11) NULL DEFAULT NULL, 
                                                        snomed_indication_concept_id INT(11) NULL DEFAULT NULL);''')

In [17]:
cursor.execute('''CREATE TABLE standard_case_outcome (primaryid VARCHAR(512) NULL DEFAULT NULL, 
                                                      isr VARCHAR(512) NULL DEFAULT NULL, 
                                                      pt VARCHAR(512) NULL DEFAULT NULL, 
                                                      outcome_concept_id INT(11) NULL DEFAULT NULL,
                                                      snomed_outcome_concept_id INT(11) NULL DEFAULT NULL);''')

In [18]:
cursor.execute('''CREATE TABLE standard_case_outcome_category (primaryid VARCHAR(512) NULL DEFAULT NULL, 
                                                               isr VARCHAR(512) NULL DEFAULT NULL,
                                                               outc_code VARCHAR(512) NULL DEFAULT NULL, 
                                                               snomed_concept_id INT(11) NULL DEFAULT NULL);''')

In [19]:
cursor.execute('''CREATE TABLE standard_drug_outcome_contingency_table (drug_concept_id INT(11) NULL DEFAULT NULL, 
                                                                        outcome_concept_id INT(11) NULL DEFAULT NULL, 
                                                                        count_a BIGINT(20) NULL DEFAULT NULL, 
                                                                        count_b DECIMAL(10,0) NULL DEFAULT NULL, 
                                                                        count_c DECIMAL(10,0) NULL DEFAULT NULL, 
                                                                        count_d DECIMAL(10,0) NULL DEFAULT NULL);''')

In [20]:
cursor.execute('''CREATE TABLE standard_drug_outcome_count (drug_concept_id INT(11) NULL DEFAULT NULL, 
                                                            outcome_concept_id INT(11) NULL DEFAULT NULL, 
                                                            drug_outcome_pair_count BIGINT(20) NULL DEFAULT NULL, 
                                                            snomed_outcome_concept_id INT(11) NULL DEFAULT NULL);''')

In [21]:
cursor.execute('''CREATE TABLE standard_drug_outcome_drilldown (drug_concept_id INT(11) NULL DEFAULT NULL, 
                                                                outcome_concept_id INT(11) NULL DEFAULT NULL, 
                                                                snomed_outcome_concept_id INT(11) NULL DEFAULT NULL, 
                                                                primaryid VARCHAR(512) NULL DEFAULT NULL, 
                                                                isr VARCHAR(512) NULL DEFAULT NULL);''')

In [22]:
cursor.execute('''CREATE TABLE standard_drug_outcome_statistics (drug_concept_id INT(11) NULL DEFAULT NULL, 
                                                    outcome_concept_id INT(11) NULL DEFAULT NULL, 
                                                    snomed_outcome_concept_id INT(11) NULL DEFAULT NULL, 
                                                    case_count BIGINT(20) NULL DEFAULT NULL, 
                                                    prr DECIMAL(20,5) NULL DEFAULT NULL, 
                                                    prr_95_percent_upper_confidence_limit DECIMAL(20,5) NULL DEFAULT NULL, 
                                                    prr_95_percent_lower_confidence_limit DECIMAL(20,5) NULL DEFAULT NULL, 
                                                    ror DECIMAL(20,5) NULL DEFAULT NULL, 
                                                    ror_95_percent_upper_confidence_limit DECIMAL(20,5) NULL DEFAULT NULL,
                                                    ror_95_percent_lower_confidence_limit DECIMAL(20,5) NULL DEFAULT NULL);''')

In [23]:
cursor.execute('''CREATE TABLE standard_unique_all_case (caseid VARCHAR(512) NULL DEFAULT NULL,
                                                        primaryid VARCHAR(512) NULL DEFAULT NULL,
                                                        isr VARCHAR(512) NULL DEFAULT NULL);''')

`Total 11 tables were created....`

In [12]:
cursor.execute("SHOW TABLES")

for table in cursor:
    print(table)

('concept',)
('standard_case_drug',)
('standard_case_indication',)
('standard_case_outcome',)
('standard_case_outcome_category',)
('standard_drug_outcome_contingency_table',)
('standard_drug_outcome_count',)
('standard_drug_outcome_drilldown',)
('standard_drug_outcome_statistics',)
('standard_unique_all_case',)
('vocabulary',)

### **AEOLUS Data Loading into Sql**

In [9]:
Conn = connector.connect(host="localhost",
                        user="root",
                        password="",
                        database="drugs_db",
                        allow_local_infile=True)      # Note :  Without this line may face lots of issues.Most Important..

cursor = Conn.cursor()

In [10]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/concept.tsv' INTO TABLE concept FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [11]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/vocabulary.tsv' INTO TABLE vocabulary FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [8]:
cursor.execute('SELECT * FROM VOCABULARY')

for records in cursor:
    print(records)

('ABMS', 'Provider Specialty (American Board of Medical Specialties)', 'http://www.abms.org/member-boards/specialty-subspecialty-certificates', '', 45756746)
('APC', 'Ambulatory Payment Classification (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/HospitalOutpatientPPS/Hospital-Outpatient-Regulations-and-Notices.html', '2011-28-09', 44819132)
('ATC', 'WHO Anatomic Therapeutic Chemical Classification', 'FDB UK distribution package', 'RxNorm Full 20150706', 44819117)
('CCS', 'Clinical Classifications Software for ICD-9-CM (HCUP)', 'http://www.hcup-us.ahrq.gov/toolssoftware/ccs/ccs.jsp#download', 'Not implemented yet', 44819142)
('CIEL', 'Columbia International eHealth Laboratory (Columbia University)', 'https://wiki.openmrs.org/display/docs/Getting+and+Using+the+MVP-CIEL+Concept+Dictionary', 'Openmrs 1.11.0 20150227', 45905710)
('Cohort', 'Legacy OMOP HOI or DOI cohort', 'OMOP generated', '', 44819123)
('Cohort Type', 'OMOP Cohort Type', 'OMOP generated', '', 44819234)
('Concept Class', 'OMOP Concept Class', 'OMOP generated', '', 44819233)
('Condition Type', 'OMOP Condition Occurrence Type', 'OMOP generated', '', 44819127)
('CPT4', 'Current Procedural Terminology version 4 (AMA)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', '2014AB', 44819100)
('Currency', 'International Currency Symbol (ISO 4217)', 'http://www.iso.org/iso/home/standards/currency_codes.htm', '2008', 44819153)
('Death Type', 'OMOP Death Type', 'OMOP generated', '', 44819135)
('Device Type', 'OMOP Device Type', 'OMOP generated', '', 44819151)
('Domain', 'OMOP Domain', 'OMOP generated', '', 44819147)
('DRG', 'Diagnosis-related group (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/AcuteInpatientPPS/Acute-Inpatient-Files-for-Download.html', '2011-18-02', 44819130)
('Drug Type', 'OMOP Drug Exposure Type', 'OMOP generated', '', 44819126)
('ETC', 'Enhanced Therapeutic Classification (FDB)', 'FDB US distribution package', '2013-20-06', 44819116)
('Ethnicity', 'OMOP Ethnicity', 'OMOP generated', '', 44819134)
('Gemscript', 'Gemscript NHS dictionary of medicine and devices (NHS)', 'Codes extracted from GPRD database, courtesy of J&J', '2013 Release', 44819144)
('Gender', 'OMOP Gender', 'OMOP generated', '', 44819108)
('Genseqno', 'Generic sequence number (FDB)', 'FDB US distribution package', '2011-25-08', 44819141)
('GPI', 'Medi-Span Generic Product Identifier (Wolters Kluwer Health)', 'Medi-Span distribution package', 'RXNORM CROSS REFERENCE 15.2.1.002', 44819106)
('HCPCS', 'Healthcare Common Procedure Coding System (CMS)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', '2015 Annual Alpha Numeric HCPCS File', 44819101)
('HES Specialty', 'Hospital Episode Statistics Specialty (NHS)', 'http://www.datadictionary.nhs.uk/data_dictionary/attributes/m/main_specialty_code_de.asp?shownav=0', 'Not implemented yet', 44819145)
('ICD10', 'International Classification of Diseases, 10th Revision, (WHO)', 'http://www.who.int/classifications/icd/icdonlineversions/en/', '2014 Release', 44819124)
('ICD10CM', 'International Classification of Diseases, 10th Revision, Clinical Modification (NCHS)', 'http://www.cdc.gov/nchs/icd/icd10cm.htm', 'Not implemented yet', 44819124)
('ICD10PCS', 'ICD-10 Procedure Coding System (CMS)', 'http://www.cms.gov/Medicare/Coding/ICD10/index.html', '2011-08-06', 44819125)
('ICD9CM', 'International Classification of Diseases, Ninth Revision, Clinical Modification, Volume 1 and 2 (NCHS)', 'http://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/codes.html', 'ICD9CM v32 master descriptions', 44819098)
('ICD9Proc', 'International Classification of Diseases, Ninth Revision, Clinical Modification, Volume 3 (NCHS)', 'http://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/codes.html', 'ICD9CM v32 master descriptions', 44819099)
('Indication', 'Indications and Contraindications (FDB)', 'FDB US distribution package', '2013-20-06', 44819115)
('LOINC', 'Logical Observation Identifiers Names and Codes (Regenstrief Institute)', 'http://loinc.org/downloads/loinc', 'LOINC 2.52', 44819102)
('MDC', 'Major Diagnostic Categories (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/AcuteInpatientPPS/Acute-Inpatient-Files-for-Download.html', '2013-01-06', 44819131)
('Meas Type', 'OMOP Measurement Type', 'OMOP generated', '', 44819152)
('MedDRA', 'Medical Dictionary for Regulatory Activities (MSSO)', 'http://www.meddramsso.com/subscriber_download.asp', 'MedDRA version 18.0', 44819111)
('MeSH', 'Medical Subject Headings (NLM)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', '2015 Release', 44819136)
('Multilex', 'Multilex (FDB)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', '2013-05-06', 44819118)
('Multum', 'Cerner Multum (Cerner)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', '2013-07-10', 44819112)
('NDC', 'National Drug Code (FDA and manufacturers)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html, http://www.fda.gov/downloads/Drugs/DevelopmentApprovalProcess/UCM070838.zip', 'NDC 20150708', 44819105)
('NDFRT', 'National Drug File - Reference Terminology (VA)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819103)
('None', 'OMOP Standardized Vocabularies', 'OMOP generated', 'v5.0 17-JUL-15', 44819096)
('Note Type', 'OMOP Note Type', 'OMOP generated', '', 44819146)
('NUCC', 'National Uniform Claim Committee Health Care Provider Taxonomy Code Set (NUCC)', 'http://www.nucc.org/index.php?option=com_content&view=article&id=107&Itemid=132', '2013-07-01', 44819137)
('Obs Period Type', 'OMOP Observation Period Type', 'OMOP generated', '', 44819149)
('Observation Type', 'OMOP Observation Type', 'OMOP generated', '', 44819129)
('OPCS4', 'OPCS Classification of Interventions and Procedures version 4 (NHS)', 'http://systems.hscic.gov.uk/data/clinicalcoding/codingstandards/opcs4', 'OPCS4 nhs_dmwb_19.0.1_20150401000001', 44819143)
('OXMIS', 'Oxford Medical Information System (OCHP)', 'Codes extracted from GPRD database, courtesy of GSK', '', 44819114)
('PCORNet', 'National Patient-Centered Clinical Research Network (PCORI)', 'OMOP generated', '', 44819148)
('Place of Service', 'Place of Service Codes for Professional Claims (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/PhysicianFeeSched/downloads//Website_POS_database.pdf', '2009-01-11', 44819110)
('Procedure Type', 'OMOP Procedure Occurrence Type', 'OMOP generated', '', 44819128)
('Race', 'Race and Ethnicity Code Set (USBC)', 'http://www.cdc.gov/nchs/data/dvs/Race_Ethnicity_CodeSet.pdf', 'Version 1.0', 44819109)
('Read', 'NHS UK Read Codes Version 2 (HSCIC)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', 'NHS READV2 19.0.2 20150326000001', 44819113)
('Relationship', 'OMOP Relationship', 'OMOP generated', '', 44819235)
('Revenue Code', 'UB04/CMS1450 Revenue Codes (CMS)', 'http://www.mpca.net/?page=ERC_finance', '2010 Release', 44819133)
('RxNorm', 'RxNorm (NLM)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819104)
('SMQ', 'Standardised MedDRA Queries (MSSO)', 'http://www.meddramsso.com/secure/smq/SMQ_Spreadsheet_14_0_English_update.xlsx', 'Version 14.0', 44819121)
('SNOMED', 'Systematic Nomenclature of Medicine - Clinical Terms (IHDSTO)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', 'SnomedCT Release INT 20150131', 44819097)
('Specialty', 'Medicare provider/supplier specialty codes (CMS)', 'http://www.cms.gov/Medicare/Provider-Enrollment-and-Certification/MedicareProviderSupEnroll/Taxonomy.html', '', 44819138)
('SPL', 'Structured Product Labeling (FDA)', 'http://www.fda.gov/Drugs/InformationOnDrugs/ucm142438.htm', 'NDC 20150708', 44819140)
('UCUM', 'Unified Code for Units of Measure (Regenstrief Institute)', 'http://aurora.regenstrief.org/~ucum/ucum.html#section-Alphabetic-Index', 'Version 1.8.2', 44819107)
('VA Class', 'VA National Drug File Class (VA)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819122)
('VA Product', 'VA National Drug File Product (VA)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819120)
('Visit', 'OMOP Visit', 'OMOP generated', '', 44819119)
('Visit Type', 'OMOP Visit Type', 'OMOP generated', '', 44819150)
('Vocabulary', 'OMOP Vocabulary', 'OMOP generated', '', 44819232)
('ABMS', 'Provider Specialty (American Board of Medical Specialties)', 'http://www.abms.org/member-boards/specialty-subspecialty-certificates', '', 45756746)
('APC', 'Ambulatory Payment Classification (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/HospitalOutpatientPPS/Hospital-Outpatient-Regulations-and-Notices.html', '2011-28-09', 44819132)
('ATC', 'WHO Anatomic Therapeutic Chemical Classification', 'FDB UK distribution package', 'RxNorm Full 20150706', 44819117)
('CCS', 'Clinical Classifications Software for ICD-9-CM (HCUP)', 'http://www.hcup-us.ahrq.gov/toolssoftware/ccs/ccs.jsp#download', 'Not implemented yet', 44819142)
('CIEL', 'Columbia International eHealth Laboratory (Columbia University)', 'https://wiki.openmrs.org/display/docs/Getting+and+Using+the+MVP-CIEL+Concept+Dictionary', 'Openmrs 1.11.0 20150227', 45905710)
('Cohort', 'Legacy OMOP HOI or DOI cohort', 'OMOP generated', '', 44819123)
('Cohort Type', 'OMOP Cohort Type', 'OMOP generated', '', 44819234)
('Concept Class', 'OMOP Concept Class', 'OMOP generated', '', 44819233)
('Condition Type', 'OMOP Condition Occurrence Type', 'OMOP generated', '', 44819127)
('CPT4', 'Current Procedural Terminology version 4 (AMA)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', '2014AB', 44819100)
('Currency', 'International Currency Symbol (ISO 4217)', 'http://www.iso.org/iso/home/standards/currency_codes.htm', '2008', 44819153)
('Death Type', 'OMOP Death Type', 'OMOP generated', '', 44819135)
('Device Type', 'OMOP Device Type', 'OMOP generated', '', 44819151)
('Domain', 'OMOP Domain', 'OMOP generated', '', 44819147)
('DRG', 'Diagnosis-related group (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/AcuteInpatientPPS/Acute-Inpatient-Files-for-Download.html', '2011-18-02', 44819130)
('Drug Type', 'OMOP Drug Exposure Type', 'OMOP generated', '', 44819126)
('ETC', 'Enhanced Therapeutic Classification (FDB)', 'FDB US distribution package', '2013-20-06', 44819116)
('Ethnicity', 'OMOP Ethnicity', 'OMOP generated', '', 44819134)
('Gemscript', 'Gemscript NHS dictionary of medicine and devices (NHS)', 'Codes extracted from GPRD database, courtesy of J&J', '2013 Release', 44819144)
('Gender', 'OMOP Gender', 'OMOP generated', '', 44819108)
('Genseqno', 'Generic sequence number (FDB)', 'FDB US distribution package', '2011-25-08', 44819141)
('GPI', 'Medi-Span Generic Product Identifier (Wolters Kluwer Health)', 'Medi-Span distribution package', 'RXNORM CROSS REFERENCE 15.2.1.002', 44819106)
('HCPCS', 'Healthcare Common Procedure Coding System (CMS)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', '2015 Annual Alpha Numeric HCPCS File', 44819101)
('HES Specialty', 'Hospital Episode Statistics Specialty (NHS)', 'http://www.datadictionary.nhs.uk/data_dictionary/attributes/m/main_specialty_code_de.asp?shownav=0', 'Not implemented yet', 44819145)
('ICD10', 'International Classification of Diseases, 10th Revision, (WHO)', 'http://www.who.int/classifications/icd/icdonlineversions/en/', '2014 Release', 44819124)
('ICD10CM', 'International Classification of Diseases, 10th Revision, Clinical Modification (NCHS)', 'http://www.cdc.gov/nchs/icd/icd10cm.htm', 'Not implemented yet', 44819124)
('ICD10PCS', 'ICD-10 Procedure Coding System (CMS)', 'http://www.cms.gov/Medicare/Coding/ICD10/index.html', '2011-08-06', 44819125)
('ICD9CM', 'International Classification of Diseases, Ninth Revision, Clinical Modification, Volume 1 and 2 (NCHS)', 'http://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/codes.html', 'ICD9CM v32 master descriptions', 44819098)
('ICD9Proc', 'International Classification of Diseases, Ninth Revision, Clinical Modification, Volume 3 (NCHS)', 'http://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/codes.html', 'ICD9CM v32 master descriptions', 44819099)
('Indication', 'Indications and Contraindications (FDB)', 'FDB US distribution package', '2013-20-06', 44819115)
('LOINC', 'Logical Observation Identifiers Names and Codes (Regenstrief Institute)', 'http://loinc.org/downloads/loinc', 'LOINC 2.52', 44819102)
('MDC', 'Major Diagnostic Categories (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/AcuteInpatientPPS/Acute-Inpatient-Files-for-Download.html', '2013-01-06', 44819131)
('Meas Type', 'OMOP Measurement Type', 'OMOP generated', '', 44819152)
('MedDRA', 'Medical Dictionary for Regulatory Activities (MSSO)', 'http://www.meddramsso.com/subscriber_download.asp', 'MedDRA version 18.0', 44819111)
('MeSH', 'Medical Subject Headings (NLM)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', '2015 Release', 44819136)
('Multilex', 'Multilex (FDB)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', '2013-05-06', 44819118)
('Multum', 'Cerner Multum (Cerner)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', '2013-07-10', 44819112)
('NDC', 'National Drug Code (FDA and manufacturers)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html, http://www.fda.gov/downloads/Drugs/DevelopmentApprovalProcess/UCM070838.zip', 'NDC 20150708', 44819105)
('NDFRT', 'National Drug File - Reference Terminology (VA)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819103)
('None', 'OMOP Standardized Vocabularies', 'OMOP generated', 'v5.0 17-JUL-15', 44819096)
('Note Type', 'OMOP Note Type', 'OMOP generated', '', 44819146)
('NUCC', 'National Uniform Claim Committee Health Care Provider Taxonomy Code Set (NUCC)', 'http://www.nucc.org/index.php?option=com_content&view=article&id=107&Itemid=132', '2013-07-01', 44819137)
('Obs Period Type', 'OMOP Observation Period Type', 'OMOP generated', '', 44819149)
('Observation Type', 'OMOP Observation Type', 'OMOP generated', '', 44819129)
('OPCS4', 'OPCS Classification of Interventions and Procedures version 4 (NHS)', 'http://systems.hscic.gov.uk/data/clinicalcoding/codingstandards/opcs4', 'OPCS4 nhs_dmwb_19.0.1_20150401000001', 44819143)
('OXMIS', 'Oxford Medical Information System (OCHP)', 'Codes extracted from GPRD database, courtesy of GSK', '', 44819114)
('PCORNet', 'National Patient-Centered Clinical Research Network (PCORI)', 'OMOP generated', '', 44819148)
('Place of Service', 'Place of Service Codes for Professional Claims (CMS)', 'http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/PhysicianFeeSched/downloads//Website_POS_database.pdf', '2009-01-11', 44819110)
('Procedure Type', 'OMOP Procedure Occurrence Type', 'OMOP generated', '', 44819128)
('Race', 'Race and Ethnicity Code Set (USBC)', 'http://www.cdc.gov/nchs/data/dvs/Race_Ethnicity_CodeSet.pdf', 'Version 1.0', 44819109)
('Read', 'NHS UK Read Codes Version 2 (HSCIC)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', 'NHS READV2 19.0.2 20150326000001', 44819113)
('Relationship', 'OMOP Relationship', 'OMOP generated', '', 44819235)
('Revenue Code', 'UB04/CMS1450 Revenue Codes (CMS)', 'http://www.mpca.net/?page=ERC_finance', '2010 Release', 44819133)
('RxNorm', 'RxNorm (NLM)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819104)
('SMQ', 'Standardised MedDRA Queries (MSSO)', 'http://www.meddramsso.com/secure/smq/SMQ_Spreadsheet_14_0_English_update.xlsx', 'Version 14.0', 44819121)
('SNOMED', 'Systematic Nomenclature of Medicine - Clinical Terms (IHDSTO)', 'http://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html', 'SnomedCT Release INT 20150131', 44819097)
('Specialty', 'Medicare provider/supplier specialty codes (CMS)', 'http://www.cms.gov/Medicare/Provider-Enrollment-and-Certification/MedicareProviderSupEnroll/Taxonomy.html', '', 44819138)
('SPL', 'Structured Product Labeling (FDA)', 'http://www.fda.gov/Drugs/InformationOnDrugs/ucm142438.htm', 'NDC 20150708', 44819140)
('UCUM', 'Unified Code for Units of Measure (Regenstrief Institute)', 'http://aurora.regenstrief.org/~ucum/ucum.html#section-Alphabetic-Index', 'Version 1.8.2', 44819107)
('VA Class', 'VA National Drug File Class (VA)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819122)
('VA Product', 'VA National Drug File Product (VA)', 'http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html', 'RxNorm Full 20150706', 44819120)
('Visit', 'OMOP Visit', 'OMOP generated', '', 44819119)
('Visit Type', 'OMOP Visit Type', 'OMOP generated', '', 44819150)
('Vocabulary', 'OMOP Vocabulary', 'OMOP generated', '', 44819232)

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/standard_case_drug.tsv' INTO TABLE standard_case_drug 
                FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/standard_case_indication.tsv' INTO TABLE standard_case_indication 
                FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/standard_case_outcome.tsv' INTO TABLE standard_case_outcome 
                FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/standard_case_outcome_category.tsv' INTO TABLE standard_case_outcome_category 
                FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_contingency_table.tsv' INTO TABLE standard_drug_outcome_contingency_table 
                FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_count.tsv' INTO TABLE standard_drug_outcome_count 
                FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE'C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_drilldown.tsv' INTO TABLE standard_drug_outcome_drilldown 
                FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('''LOAD DATA LOCAL INFILE 'C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_statistics.tsv' INTO TABLE standard_drug_outcome_statistics 
                    FIELDS TERMINATED BY '\t' LINES TERMINATED BY '\n' IGNORE 0 LINES;''')

In [ ]:
cursor.execute('ALTER TABLE vocabulary ADD UNIQUE INDEX idx_vocabulary_vocabulary_id (vocabulary_id);')

In [25]:
cursor.execute('ALTER TABLE standard_drug_outcome_contingency_table ADD INDEX idx_standard_drug_outcome_contingency_table_drug_concept_id (drug_concept_id), ADD INDEX idx_standard_drug_outcome_contingency_table_outcome_concept_id (outcome_concept_id);')

In [26]:
cursor.execute('ALTER TABLE standard_case_drug ADD INDEX idx_standard_case_drug_primary_id (primaryid(255), drug_seq(255)), ADD INDEX idx_standard_case_drug_isr (isr(255), drug_seq(255)), ADD INDEX idx_standard_case_drug_standard_concept_id (standard_concept_id);')

In [27]:
cursor.execute('ALTER TABLE standard_case_indication ADD INDEX idx_standard_case_indication_primary_id (primaryid(255), indi_drug_seq(255)), ADD INDEX idx_standard_case_indication_isr (isr(255), indi_drug_seq(255)), ADD INDEX idx_standard_case_indication_indication_concept_id (indication_concept_id), ADD INDEX idx_standard_case_indication_snomed_indication_concept_id (snomed_indication_concept_id);')

In [28]:
cursor.execute('ALTER TABLE standard_case_outcome ADD INDEX idx_standard_case_outcome_primary_id (primaryid(255)), ADD INDEX idx_standard_case_outcome_isr (isr(255)), ADD INDEX idx_standard_case_outcome_outcome_concept_id (outcome_concept_id), ADD INDEX idx_standard_case_outcome_snomed_outcome_concept_id (snomed_outcome_concept_id);')

In [29]:
cursor.execute('ALTER TABLE standard_case_outcome_category ADD INDEX idx_standard_case_outcome_category_primary_id (primaryid(255)), ADD INDEX idx_standard_case_outcome_category_isr (isr(255)), ADD INDEX idx_standard_case_outcome_category_snomed_concept_id (snomed_concept_id, outc_code(255));')

In [30]:
cursor.execute('ALTER TABLE standard_drug_outcome_count ADD INDEX idx_standard_drug_outcome_count_drug_concept_id (drug_concept_id), ADD INDEX idx_standard_drug_outcome_count_outcome_concept_id (outcome_concept_id), ADD INDEX idx_standard_case_outcome_count_snomed_outcome_concept_id (snomed_outcome_concept_id);')

In [31]:
cursor.execute('ALTER TABLE standard_drug_outcome_statistics ADD INDEX idx_standard_drug_outcome_statistics_drug_concept_id (drug_concept_id), ADD INDEX idx_standard_drug_outcome_statistics_outcome_concept_id (outcome_concept_id), ADD INDEX idx_standard_case_outcome_statistics_snomed_outcome_concept_id (snomed_outcome_concept_id);')

In [33]:
cursor.execute('ALTER TABLE standard_unique_all_case ADD INDEX idx_standard_unique_all_case_caseid (caseid(255)), ADD INDEX idx_standard_unique_all_case_primary_id (primaryid(255)), ADD INDEX idx_standard_unique_all_case_isr (isr(255));')

In [ ]:
cursor.execute('ALTER TABLE standard_drug_outcome_drilldown ADD INDEX idx_standard_drug_outcome_drilldown_drug_concept_id (drug_concept_id), ADD INDEX idx_standard_drug_outcome_drilldown_outcome_concept_id (outcome_concept_id), ADD INDEX idx_standard_drug_outcome_drilldown_snomed_outcome_concept_id (snomed_outcome_concept_id), ADD INDEX idx_standard_drug_outcome_drilldown_primary_id (primaryid(255)), ADD INDEX idx_standard_drug_outcome_drilldown_isr (isr(255));')

In [ ]:
cursor.execute('ALTER TABLE concept ADD PRIMARY KEY (concept_id), ADD UNIQUE INDEX idx_concept_concept_id (concept_id), ADD INDEX idx_concept_code (concept_code), ADD INDEX idx_concept_vocabluary_id (vocabulary_id), ADD INDEX idx_concept_domain_id (domain_id), ADD INDEX idx_concept_class_id (concept_class_id);')

In [ ]:
import pandas as pd 
tsv_file='.tsv'# tsv file path
csv_table=pd.read_table(tsv_file,sep='\t')
csv_table.to_csv('.csv',index=False) # create csv file

In [5]:
import pandas as pd 
concept=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/concept.tsv',delimiter='\t',header=None,low_memory=False,na_values=['\\N'],names=['concept_id','concept_name','domain_id','vocabulary_id','concept_class_id','standard_concept','concept_code','valid_start_date','valid_end_date','invalid_reason']) 
vocabulary=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/vocabulary.tsv',delimiter='\t',header=None,na_values=['\\N'],names=['vocabulary_id' ,'vocabulary_name','vocabulary_reference','vocabulary_version' ,'vocabulary_concept_id'])

(133326, 14)

In [6]:
con_voc_df.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason,vocabulary_name,vocabulary_reference,vocabulary_version,vocabulary_concept_id
0,"45732785,""Estradio",Drug,Gemscript,Gemscript,NaN,61000020,2013-12-12,2099-12-31,NaN,NaN,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",2013 Release,44819144
1,45732786,Estradiol 1mg tablets,Drug,Gemscript,Gemscript,NaN,61004020,2013-12-12,2099-12-31,NaN,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",2013 Release,44819144
2,45732787,Estriol 250micrograms tablets,Drug,Gemscript,Gemscript,NaN,61015020,2013-12-12,2099-12-31,NaN,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",2013 Release,44819144
3,45732788,Sodium cromoglicate 5mg/dose inhaler with spacer,Drug,Gemscript,Gemscript,NaN,61057020,2013-12-12,2099-12-31,NaN,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",2013 Release,44819144
4,45732789,Sodium cromoglicate inhalation capsules,Drug,Gemscript,Gemscript,NaN,61071020,2013-12-12,2099-12-31,NaN,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",2013 Release,44819144

In [7]:
print("The dataset contains",concept.shape[0], "observations and", concept.shape[1], "variables.")
print("Null values ", round((concept.isna().sum()/concept.shape[0])*100,2))

The dataset contains 2494477 observations and 10 variables.
Null values  concept_id           0.00
concept_name        94.65
domain_id           94.65
vocabulary_id       94.65
concept_class_id    94.66
standard_concept    98.15
concept_code        94.65
valid_start_date    94.65
valid_end_date      94.66
invalid_reason      99.99
dtype: float64

In [8]:
concept.drop(['standard_concept','invalid_reason'],inplace=True, axis=1)
concept=concept.dropna()  
print("Null values ", concept.isna().sum())
concept.head()

Null values  concept_id          0
concept_name        0
domain_id           0
vocabulary_id       0
concept_class_id    0
concept_code        0
valid_start_date    0
valid_end_date      0
dtype: int64

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,concept_code,valid_start_date,valid_end_date
1980360,45732786,Estradiol 1mg tablets,Drug,Gemscript,Gemscript,61004020,2013-12-12,2099-12-31
1980361,45732787,Estriol 250micrograms tablets,Drug,Gemscript,Gemscript,61015020,2013-12-12,2099-12-31
1980362,45732788,Sodium cromoglicate 5mg/dose inhaler with spacer,Drug,Gemscript,Gemscript,61057020,2013-12-12,2099-12-31
1980363,45732789,Sodium cromoglicate inhalation capsules,Drug,Gemscript,Gemscript,61071020,2013-12-12,2099-12-31
1980364,45732790,Chlorhexidine gluconate 0.05% with cetrimide 0...,Drug,Gemscript,Gemscript,61099020,2013-12-12,2099-12-31

In [9]:
print("The dataset contains",vocabulary.shape[0], "observations and", vocabulary.shape[1], "variables.")
print("Null values ",  round((vocabulary.isna().sum()/vocabulary.shape[0]) *100),2)

The dataset contains 64 observations and 5 variables.
Null values  vocabulary_id             0.0
vocabulary_name           0.0
vocabulary_reference      0.0
vocabulary_version       36.0
vocabulary_concept_id     0.0
dtype: float64 2

In [10]:
vocabulary.drop(['vocabulary_version'],inplace=True, axis=1)
vocabulary=vocabulary.dropna()  
print("Null values ", vocabulary.isna().sum())

Null values  vocabulary_id            0
vocabulary_name          0
vocabulary_reference     0
vocabulary_concept_id    0
dtype: int64

In [11]:
vocabulary.head()

,vocabulary_id,vocabulary_name,vocabulary_reference,vocabulary_concept_id
0,ABMS,Provider Specialty (American Board of Medical ...,http://www.abms.org/member-boards/specialty-su...,45756746
1,APC,Ambulatory Payment Classification (CMS),http://www.cms.gov/Medicare/Medicare-Fee-for-S...,44819132
2,ATC,WHO Anatomic Therapeutic Chemical Classification,FDB UK distribution package,44819117
3,CCS,Clinical Classifications Software for ICD-9-CM...,http://www.hcup-us.ahrq.gov/toolssoftware/ccs/...,44819142
4,CIEL,Columbia International eHealth Laboratory (Col...,https://wiki.openmrs.org/display/docs/Getting+...,45905710

In [12]:
con_voc_df = pd.merge(concept, vocabulary, on=('vocabulary_id'), how='inner')
con_voc_df.shape

(133325, 11)

In [13]:
con_voc_df.isna().sum()

concept_id               0
concept_name             0
domain_id                0
vocabulary_id            0
concept_class_id         0
concept_code             0
valid_start_date         0
valid_end_date           0
vocabulary_name          0
vocabulary_reference     0
vocabulary_concept_id    0
dtype: int64

In [14]:
con_voc_df.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,concept_code,valid_start_date,valid_end_date,vocabulary_name,vocabulary_reference,vocabulary_concept_id
0,45732786,Estradiol 1mg tablets,Drug,Gemscript,Gemscript,61004020,2013-12-12,2099-12-31,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",44819144
1,45732787,Estriol 250micrograms tablets,Drug,Gemscript,Gemscript,61015020,2013-12-12,2099-12-31,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",44819144
2,45732788,Sodium cromoglicate 5mg/dose inhaler with spacer,Drug,Gemscript,Gemscript,61057020,2013-12-12,2099-12-31,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",44819144
3,45732789,Sodium cromoglicate inhalation capsules,Drug,Gemscript,Gemscript,61071020,2013-12-12,2099-12-31,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",44819144
4,45732790,Chlorhexidine gluconate 0.05% with cetrimide 0...,Drug,Gemscript,Gemscript,61099020,2013-12-12,2099-12-31,Gemscript NHS dictionary of medicine and devic...,"Codes extracted from GPRD database, courtesy o...",44819144

In [53]:
import pandas as pd
standard_case_drug=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_case_drug.tsv',delimiter='\t',low_memory=False,na_values=['\\N'],header=None,names=['primaryid','isr','drug_seq','role_cod','standard_concept_id' ]) 
standard_case_indication=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_case_indication.tsv',delimiter='\t',header=None,low_memory=False,na_values=['\\N'],names=['primaryid','isr','indi_drug_seq','indi_pt','indication_concept_id','snomed_indication_concept_id'])

In [54]:
standard_case_drug.head()

     primaryid        isr    drug_seq role_cod  standard_concept_id
0  101551742.0        NaN           4        C               711584
1          NaN  4787243.0  1006505295        C             19011773
2          NaN  6751326.0  1013792507       SS             40163615
3          NaN  4995268.0  1007299260        C              1154029
4   92198372.0        NaN           1       PS              1110942

In [55]:
print("The dataset contains",standard_case_drug.shape[0], "observations and", standard_case_drug.shape[1], "variables.")
print("Null values ", round((standard_case_drug.isna().sum()/standard_case_drug.shape[0]) *100),2)

The dataset contains 15365394 observations and 5 variables.
Null values  primaryid              62.0
isr                    38.0
drug_seq                0.0
role_cod                0.0
standard_concept_id     0.0
dtype: float64 2

In [56]:
standard_case_drug['pri_isr']=standard_case_drug['primaryid']
standard_case_drug['pri_isr'].fillna(value = standard_case_drug['isr'],  inplace = True) 
standard_case_drug.drop(['primaryid','isr'],inplace=True, axis=1)
standard_case_drug=standard_case_drug.dropna() 
 
print("After dropping Null values ", standard_case_drug.isna().sum())
standard_case_drug.head()

After dropping Null values  drug_seq               0
role_cod               0
standard_concept_id    0
pri_isr                0
dtype: int64

     drug_seq role_cod  standard_concept_id      pri_isr
0           4        C               711584  101551742.0
1  1006505295        C             19011773    4787243.0
2  1013792507       SS             40163615    6751326.0
3  1007299260        C              1154029    4995268.0
4           1       PS              1110942   92198372.0

In [57]:
standard_case_indication.head()

,primaryid,isr,indi_drug_seq,indi_pt,indication_concept_id,snomed_indication_concept_id
0,100033011.0,NaN,1,Product used for unknown indication,42890454,NaN
1,100033061.0,NaN,1,Product used for unknown indication,42890454,NaN
2,100033001.0,NaN,1,Osteoporosis,36416551,80502.0
3,NaN,6049067.0,1011029603,INSOMNIA,36718555,436962.0
4,NaN,6320997.0,1012098708,ASTHMA,36009700,317009.0

In [58]:
print("The dataset contains",standard_case_indication.shape[0], "observations and", standard_case_indication.shape[1], "variables.")
print("Null values ", round((standard_case_indication.isna().sum()/standard_case_indication.shape[0]) *100),2)

The dataset contains 8637264 observations and 6 variables.
Null values  primaryid                       56.0
isr                             44.0
indi_drug_seq                    0.0
indi_pt                          0.0
indication_concept_id            0.0
snomed_indication_concept_id    36.0
dtype: float64 2

In [59]:

standard_case_indication['pri_isr']=standard_case_indication['primaryid']
standard_case_indication['pri_isr'].fillna(value = standard_case_indication['isr'],  inplace = True) 
standard_case_indication.drop(['primaryid','isr'],inplace=True, axis=1)
standard_case_indication=standard_case_indication.dropna() 
 
print("After dropping Null values ", standard_case_indication.isna().sum())
standard_case_indication.head()

After dropping Null values  indi_drug_seq                   0
indi_pt                         0
indication_concept_id           0
snomed_indication_concept_id    0
pri_isr                         0
dtype: int64

,indi_drug_seq,indi_pt,indication_concept_id,snomed_indication_concept_id,pri_isr
2,1,Osteoporosis,36416551,80502.0,100033001.0
3,1011029603,INSOMNIA,36718555,436962.0,6049067.0
4,1012098708,ASTHMA,36009700,317009.0,6320997.0
5,1,Pulmonary hypertension,37219868,4322024.0,100033112.0
6,2,Cardiac failure congestive,35205243,319835.0,100033112.0

In [60]:
standard_case_indication=standard_case_indication.dropna()  
print("Null values ", standard_case_indication.isna().sum())

Null values  indi_drug_seq                   0
indi_pt                         0
indication_concept_id           0
snomed_indication_concept_id    0
pri_isr                         0
dtype: int64

In [61]:
standard_case_df_1=pd.merge(standard_case_drug,standard_case_indication,how="inner", on=['pri_isr'])

In [62]:
standard_case_drug_1 = standard_case_drug.drop_duplicates(subset=['pri_isr'])
standard_case_indication_1 = standard_case_indication.drop_duplicates(subset=['pri_isr'])

In [63]:
standard_case_df_1=pd.merge(standard_case_drug_1,standard_case_indication_1,how="inner", on=['pri_isr'])

In [64]:
print(' # of rows in standard_case_drug -->',standard_case_drug_1.shape[0])
print(' # of rows in standard_case_indication -->',standard_case_indication_1.shape[0])
print(' # of rows in standard_case_df_1 -->',standard_case_df_1.shape[0])

 # of rows in standard_case_drug --> 4855564
 # of rows in standard_case_indication --> 3097282
 # of rows in standard_case_df_1 --> 3062595

In [65]:
standard_case_df_1.head()

,drug_seq,role_cod,standard_concept_id,pri_isr,indi_drug_seq,indi_pt,indication_concept_id,snomed_indication_concept_id
0,4,C,711584,101551742.0,4,Convulsion,36718526,377091.0
1,1006505295,C,19011773,4787243.0,1006480200,HEPATITIS C,35909578,197494.0
2,1013792507,SS,40163615,6751326.0,1013792506,HEART RATE IRREGULAR,36311984,4262985.0
3,1007299260,C,1154029,4995268.0,1007257597,SCHIZOAFFECTIVE DISORDER,36919154,4286201.0
4,1,PS,1110942,92198372.0,1,Asthma,36009700,317009.0

In [67]:
standard_case_outcome=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_case_outcome.tsv',delimiter='\t',na_values=['\\N'],header=None,low_memory=False,names=['primaryid','isr','pt','outcome_concept_id','snomed_outcome_concept_id']) 
standard_case_outcome_category=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_case_outcome_category.tsv',delimiter='\t',na_values=['\\N'],low_memory=False,header=None,names=['primaryid','isr','outc_code' ,'snomed_concept_id'])

In [68]:
standard_case_outcome.head()

,primaryid,isr,pt,outcome_concept_id,snomed_outcome_concept_id
0,NaN,8310062.0,EYE IRRITATION,35607122,NaN
1,NaN,7794268.0,CONVULSION,36718526,377091.0
2,NaN,7794268.0,PYREXIA,35809054,437663.0
3,NaN,7794269.0,ANGINA PECTORIS,35205181,321318.0
4,NaN,7794269.0,CEREBROVASCULAR DISORDER,36718045,381591.0

In [69]:
print("The dataset contains",standard_case_outcome.shape[0], "observations and", standard_case_outcome.shape[1], "variables.")
print("Null values ", round((standard_case_outcome.isna().sum()/standard_case_outcome.shape[0]) *100),2)

The dataset contains 15745760 observations and 5 variables.
Null values  primaryid                    63.0
isr                          37.0
pt                            0.0
outcome_concept_id            0.0
snomed_outcome_concept_id    20.0
dtype: float64 2

In [70]:
standard_case_outcome['pri_isr']=standard_case_outcome['primaryid']
standard_case_outcome['pri_isr'].fillna(value = standard_case_outcome['isr'],  inplace = True) 
standard_case_outcome.drop(['primaryid','isr'],inplace=True, axis=1)

In [71]:
standard_case_outcome=standard_case_outcome.dropna() 
 
print("After dropping Null values ", standard_case_outcome.isna().sum())
standard_case_outcome.head()

After dropping Null values  pt                           0
outcome_concept_id           0
snomed_outcome_concept_id    0
pri_isr                      0
dtype: int64

,pt,outcome_concept_id,snomed_outcome_concept_id,pri_isr
1,CONVULSION,36718526,377091.0,7794268.0
2,PYREXIA,35809054,437663.0,7794268.0
3,ANGINA PECTORIS,35205181,321318.0,7794269.0
4,CEREBROVASCULAR DISORDER,36718045,381591.0,7794269.0
5,COMPLICATIONS OF TRANSPLANTED KIDNEY,36211758,199991.0,7794269.0

In [72]:
standard_case_outcome_category.head()

     primaryid        isr outc_code  snomed_concept_id
0  101992751.0        NaN       NaN                NaN
1          NaN  5508037.0        OT          4001594.0
2          NaN  5940395.0        OT          4001594.0
3  101935161.0        NaN       NaN                NaN
4   89828952.0        NaN        OT          4001594.0

In [73]:
print("The dataset contains",standard_case_outcome_category.shape[0], "observations and", standard_case_outcome_category.shape[1], "variables.")
print("Null values ", round((standard_case_outcome_category.isna().sum()/standard_case_outcome_category.shape[0]) *100),2)

The dataset contains 5700244 observations and 4 variables.
Null values  primaryid            62.0
isr                  38.0
outc_code            31.0
snomed_concept_id    31.0
dtype: float64 2

In [74]:
standard_case_outcome_category['pri_isr']=standard_case_outcome_category['primaryid']
standard_case_outcome_category['pri_isr'].fillna(value = standard_case_outcome_category['isr'],  inplace = True) 
standard_case_outcome_category.drop(['primaryid','isr'],inplace=True, axis=1)

In [75]:
standard_case_outcome_category=standard_case_outcome_category.dropna() 
 
print("After dropping Null values ", standard_case_outcome_category.isna().sum())
standard_case_outcome_category.head()

After dropping Null values  outc_code            0
snomed_concept_id    0
pri_isr              0
dtype: int64

  outc_code  snomed_concept_id     pri_isr
1        OT          4001594.0   5508037.0
2        OT          4001594.0   5940395.0
4        OT          4001594.0  89828952.0
5        OT          4001594.0  96256912.0
6        OT          4001594.0   5715288.0

In [76]:
standard_case_outcome_1 = standard_case_outcome.drop_duplicates(subset=['pri_isr'])
standard_case_outcome_category_1 = standard_case_outcome_category.drop_duplicates(subset=['pri_isr'])

In [77]:
standard_case_df_2=pd.merge(standard_case_outcome_1,standard_case_outcome_category_1,how="inner", on='pri_isr')

In [78]:
print(' # of rows in standard_case_outcome -->',standard_case_outcome_1.shape[0])
print(' # of rows in standard_case_outcome_category -->',standard_case_outcome_category_1.shape[0])
print(' # of rows in standard_case_df_2 -->',standard_case_df_2.shape[0])

 # of rows in standard_case_outcome --> 4441899
 # of rows in standard_case_outcome_category --> 3189053
 # of rows in standard_case_df_2 --> 2993411

In [79]:
standard_case_df_2.head()

,pt,outcome_concept_id,snomed_outcome_concept_id,pri_isr,outc_code,snomed_concept_id
0,CONVULSION,36718526,377091.0,7794268.0,OT,4001594.0
1,ANGINA PECTORIS,35205181,321318.0,7794269.0,OT,4001594.0
2,DYSKINESIA,36718199,373185.0,7794271.0,HO,8715.0
3,DYSKINESIA,36718199,373185.0,7794272.0,HO,8715.0
4,CHONDROPATHY,36517132,81711.0,7794276.0,OT,4001594.0

In [49]:
import pandas as pd
standard_drug_outcome_contingency_table=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_contingency_table.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['drug_concept_id','outcome_concept_id','count_a','count_b','count_c','count_d']) 
standard_drug_outcome_count=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_count.tsv',delimiter='\t',na_values=['\\N'],header=None,low_memory=False,names=['drug_concept_id','outcome_concept_id','drug_outcome_pair_count','snomed_outcome_concept_id']) 
standard_drug_outcome_count.shape

(3766382, 4)

In [50]:
print("The dataset contains",standard_drug_outcome_contingency_table.shape[0], "observations and", standard_drug_outcome_contingency_table.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_contingency_table.isna().sum()/standard_drug_outcome_contingency_table.shape[0]) *100),2)

The dataset contains 3766382 observations and 6 variables.
Null values  drug_concept_id       0.0
outcome_concept_id    0.0
count_a               0.0
count_b               0.0
count_c               0.0
count_d               0.0
dtype: float64 2

In [51]:
standard_drug_outcome_contingency_table.head()

   drug_concept_id  outcome_concept_id  count_a   count_b  count_c   count_d
0           702865            35104065        1    8365.0    256.0  60658372
1           705103            35104065        1  186947.0    256.0  60479790
2           710062            35104065        5  184297.0    252.0  60482440
3           711584            35104065        2  106731.0    255.0  60560006
4           713196            35104065        1   58809.0    256.0  60607928

In [80]:
print("The dataset contains",standard_drug_outcome_count.shape[0], "observations and", standard_drug_outcome_count.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_count.isna().sum()/standard_drug_outcome_count.shape[0]) *100),2)

The dataset contains 3766382 observations and 4 variables.
Null values  drug_concept_id               0.0
outcome_concept_id            0.0
drug_outcome_pair_count       0.0
snomed_outcome_concept_id    34.0
dtype: float64 2

In [81]:
standard_drug_outcome_count=standard_drug_outcome_count.dropna() 
 
print("After dropping Null values ", standard_drug_outcome_count.isna().sum())
standard_drug_outcome_count.head()

After dropping Null values  drug_concept_id              0
outcome_concept_id           0
drug_outcome_pair_count      0
snomed_outcome_concept_id    0
dtype: int64

,drug_concept_id,outcome_concept_id,drug_outcome_pair_count,snomed_outcome_concept_id
0,1769535,35708310,2,4119306.0
1,19011773,35707684,36,4281516.0
2,1774470,37019455,3,4171974.0
5,937368,35707781,9,201131.0
6,19054825,35104349,1,135768.0

In [82]:
 standard_case_df=pd.merge(standard_case_df_1, standard_case_df_2, how="inner", on=['pri_isr'])

In [83]:
print(' # of rows in standard_case_df_1-->',standard_case_df_1.shape[0])
print(' # of rows in standard_case_df_2 -->',standard_case_df_2.shape[0])
print(' # of rows in standard_case_df -->',standard_case_df.shape[0])

 # of rows in standard_case_df_1--> 3062595
 # of rows in standard_case_df_2 --> 2993411
 # of rows in standard_case_df --> 1906394

In [84]:
standard_case_df.head()

,drug_seq,role_cod,standard_concept_id,pri_isr,indi_drug_seq,indi_pt,indication_concept_id,snomed_indication_concept_id,pt,outcome_concept_id,snomed_outcome_concept_id,outc_code,snomed_concept_id
0,4,C,711584,101551742.0,4,Convulsion,36718526,377091.0,Aspiration,37219937,4239038.0,HO,8715.0
1,1006505295,C,19011773,4787243.0,1006480200,HEPATITIS C,35909578,197494.0,NEUTROPENIA,35104883,320073.0,OT,4001594.0
2,1013792507,SS,40163615,6751326.0,1013792506,HEART RATE IRREGULAR,36311984,4262985.0,ABDOMINAL PAIN UPPER,35708156,4306292.0,HO,8715.0
3,1007299260,C,1154029,4995268.0,1007257597,SCHIZOAFFECTIVE DISORDER,36919154,4286201.0,DEATH,35809059,434489.0,DE,4306655.0
4,1,PS,1110942,92198372.0,1,Asthma,36009700,317009.0,Asthma,36009700,317009.0,OT,4001594.0

In [ ]:
import pandas as pd
standard_drug_outcome_drilldown=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_drilldown.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['drug_concept_id','outcome_concept_id','snomed_outcome_concept_id','primaryid','isr']) 
standard_drug_outcome_statistics=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_drug_outcome_statistics.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['drug_concept_id','outcome_concept_id','snomed_outcome_concept_id','case_count','prr', 'prr_95_percent_upper_confidence_limit', 'prr_95_percent_lower_confidence_limit' ,'ror' ,'ror_95_percent_upper_confidence_limit' ,'ror_95_percent_lower_confidence_limit']) 
standard_unique_all_case=pd.read_csv('C:/Users/acer/desktop/aeolus_v1/standard_unique_all_case.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['caseid','primaryid','isr'])

In [ ]:
standard_drug_outcome_drilldown.head()

In [ ]:
print("The dataset contains",standard_drug_outcome_drilldown.shape[0], "observations and", standard_drug_outcome_drilldown.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_drilldown.isna().sum()/standard_drug_outcome_drilldown.shape[0]) *100),2)

In [ ]:
standard_drug_outcome_drilldown['pri_isr']=standard_drug_outcome_drilldown['primaryid']
standard_drug_outcome_drilldown['pri_isr'].fillna(value = standard_drug_outcome_drilldown['isr'],  inplace = True) 
standard_drug_outcome_drilldown.drop(['primaryid','isr'],inplace=True, axis=1)

In [ ]:
standard_drug_outcome_drilldown=standard_drug_outcome_drilldown.dropna() 
 
print("After dropping Null values ", standard_drug_outcome_drilldown.isna().sum())
standard_drug_outcome_drilldown.head()

In [ ]:
print("The dataset contains",standard_drug_outcome_statistics.shape[0], "observations and", standard_drug_outcome_statistics.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_statistics.isna().sum()/standard_drug_outcome_statistics.shape[0]) *100),2)

In [ ]:
print("The dataset contains",standard_unique_all_case.shape[0], "observations and", standard_unique_all_case.shape[1], "variables.")
print("Null values ", round((standard_unique_all_case.isna().sum()/standard_unique_all_case.shape[0]) *100),2)

In [ ]:
standard_unique_all_case['pri_isr']=standard_unique_all_case['primaryid']
standard_unique_all_case['pri_isr'].fillna(value = standard_unique_all_case['isr'],  inplace = True) 
standard_unique_all_case.drop(['primaryid','isr'],inplace=True, axis=1)

In [ ]:
standard_unique_all_case=standard_unique_all_case.dropna() 
 
print("After dropping Null values ", standard_unique_all_case.isna().sum())
standard_unique_all_case.head()

In [ ]:
standard_drug_outcome_contingency_table_1 = standard_drug_outcome_contingency_table.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])
standard_drug_outcome_count_1 = standard_drug_outcome_count.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])
standard_drug_outcome_drilldown_1 = standard_drug_outcome_drilldown.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])
standard_drug_outcome_statistics_1 = standard_drug_outcome_statistics.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])

In [ ]:
 standard_drug_df_1=pd.merge(standard_drug_outcome_contingency_table_1, standard_drug_outcome_count_1, how="inner", on=['drug_concept_id','outcome_concept_id'])

In [ ]:
print(' # of rows in standard_case_df_1-->',standard_drug_outcome_contingency_table_1.shape[0])
print(' # of rows in standard_case_df_2 -->',standard_drug_outcome_count_1.shape[0])
print(' # of rows in standard_drug_df_1 -->',standard_drug_df_1.shape[0])

In [ ]:
 standard_drug_df_2=pd.merge(standard_drug_outcome_drilldown_1, standard_drug_outcome_statistics_1, how="inner", on=['drug_concept_id','outcome_concept_id'])

In [ ]:
print(' # of rows in standard_drug_outcome_drilldown-->',standard_drug_outcome_drilldown_1.shape[0])
print(' # of rows in standard_drug_outcome_statistics -->',standard_drug_outcome_statistics_1.shape[0])
print(' # of rows in standard_drug_df_2 -->',standard_drug_df_2.shape[0])

In [ ]:
 standard_drug_df=pd.merge(standard_drug_df_1, standard_drug_df_2, how="inner", on=['drug_concept_id','outcome_concept_id'])

In [ ]:
print(' # of rows in standard_drug_outcome_drilldown-->',standard_drug_df_1.shape[0])
print(' # of rows in standard_drug_outcome_statistics -->',standard_drug_df_2.shape[0])
print(' # of rows in standard_drug_df -->',standard_drug_df.shape[0])

In [ ]:
 standard_drug_case=pd.merge(standard_case_df, standard_drug_df, how="inner", on=['pri_isr'])

In [ ]:
standard_drug_case.shape

In [ ]:
standard_drug_case.columns

In [ ]:
standard_drug_case['outc_code'].unique()