### Importing Libaries

In [1]:
import pandas as pd
import numpy as np
#nrows=10000000

### Importing Data

In [2]:
concept=pd.read_csv('concept.tsv',delimiter='\t',header=None,low_memory=False,na_values=['\\N'],names=['concept_id','concept_name','domain_id','vocabulary_id','concept_class_id','standard_concept','concept_code','valid_start_date','valid_end_date','invalid_reason'])

In [3]:
concept.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,0,No matching concept,Metadata,None,Undefined,NaN,No matching concept,1970-01-01,2099-12-31,NaN
1,1,Domain,Metadata,Domain,Domain,NaN,OMOP generated,1970-01-01,2099-12-31,NaN
2,2,Gender,Metadata,Domain,Domain,NaN,OMOP generated,1970-01-01,2099-12-31,NaN
3,3,Race,Metadata,Domain,Domain,NaN,OMOP generated,1970-01-01,2099-12-31,NaN
4,4,Ethnicity,Metadata,Domain,Domain,NaN,OMOP generated,1970-01-01,2099-12-31,NaN

In [4]:
print("The dataset contains",concept.shape[0], "observations and", concept.shape[1], "variables.")
print("Null values ", round((concept.isna().sum()/concept.shape[0])*100,2))

The dataset contains 2361147 observations and 10 variables.
Null values  concept_id           0.00
concept_name         0.00
domain_id            0.00
vocabulary_id        0.00
concept_class_id     0.00
standard_concept    66.31
concept_code         0.00
valid_start_date     0.00
valid_end_date       0.00
invalid_reason      88.24
dtype: float64

In [5]:
concept.drop(['standard_concept','invalid_reason'],inplace=True, axis=1)
concept=concept.dropna()  
print("Null values ", concept.isna().sum())
concept.head()

Null values  concept_id          0
concept_name        0
domain_id           0
vocabulary_id       0
concept_class_id    0
concept_code        0
valid_start_date    0
valid_end_date      0
dtype: int64

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,concept_code,valid_start_date,valid_end_date
0,0,No matching concept,Metadata,None,Undefined,No matching concept,1970-01-01,2099-12-31
1,1,Domain,Metadata,Domain,Domain,OMOP generated,1970-01-01,2099-12-31
2,2,Gender,Metadata,Domain,Domain,OMOP generated,1970-01-01,2099-12-31
3,3,Race,Metadata,Domain,Domain,OMOP generated,1970-01-01,2099-12-31
4,4,Ethnicity,Metadata,Domain,Domain,OMOP generated,1970-01-01,2099-12-31

### vocabulary

In [6]:
vocabulary=pd.read_csv('vocabulary.tsv',delimiter='\t',header=None,na_values=['\\N'],names=['vocabulary_id' ,'vocabulary_name','vocabulary_reference','vocabulary_version' ,'vocabulary_concept_id'])
vocabulary.shape

(64, 5)

In [7]:
print("The dataset contains",vocabulary.shape[0], "observations and", vocabulary.shape[1], "variables.")
print("Null values ",  round((vocabulary.isna().sum()/vocabulary.shape[0]) *100),2)

The dataset contains 64 observations and 5 variables.
Null values  vocabulary_id             0.0
vocabulary_name           0.0
vocabulary_reference      0.0
vocabulary_version       36.0
vocabulary_concept_id     0.0
dtype: float64 2

In [8]:
vocabulary.drop(['vocabulary_version'],inplace=True, axis=1)
vocabulary=vocabulary.dropna()  
print("Null values ", vocabulary.isna().sum())

Null values  vocabulary_id            0
vocabulary_name          0
vocabulary_reference     0
vocabulary_concept_id    0
dtype: int64

In [9]:
vocabulary.head()

,vocabulary_id,vocabulary_name,vocabulary_reference,vocabulary_concept_id
0,ABMS,Provider Specialty (American Board of Medical ...,http://www.abms.org/member-boards/specialty-su...,45756746
1,APC,Ambulatory Payment Classification (CMS),http://www.cms.gov/Medicare/Medicare-Fee-for-S...,44819132
2,ATC,WHO Anatomic Therapeutic Chemical Classification,FDB UK distribution package,44819117
3,CCS,Clinical Classifications Software for ICD-9-CM...,http://www.hcup-us.ahrq.gov/toolssoftware/ccs/...,44819142
4,CIEL,Columbia International eHealth Laboratory (Col...,https://wiki.openmrs.org/display/docs/Getting+...,45905710

### standard_case_drug

In [10]:
standard_case_drug=pd.read_csv('standard_case_drug.tsv',delimiter='\t',low_memory=False,na_values=['\\N'],header=None,names=['primaryid','isr','drug_seq','role_cod','standard_concept_id' ])

In [11]:
standard_case_drug.head()

     primaryid        isr    drug_seq role_cod  standard_concept_id
0  101551742.0        NaN           4        C               711584
1          NaN  4787243.0  1006505295        C             19011773
2          NaN  6751326.0  1013792507       SS             40163615
3          NaN  4995268.0  1007299260        C              1154029
4   92198372.0        NaN           1       PS              1110942

In [12]:
print("The dataset contains",standard_case_drug.shape[0], "observations and", standard_case_drug.shape[1], "variables.")
print("Null values ", round((standard_case_drug.isna().sum()/standard_case_drug.shape[0]) *100),2)

The dataset contains 15365394 observations and 5 variables.
Null values  primaryid              62.0
isr                    38.0
drug_seq                0.0
role_cod                0.0
standard_concept_id     0.0
dtype: float64 2

In [13]:
standard_case_drug['pri_isr']=standard_case_drug['primaryid']
standard_case_drug['pri_isr'].fillna(value = standard_case_drug['isr'],  inplace = True) 
standard_case_drug.drop(['primaryid','isr'],inplace=True, axis=1)
standard_case_drug=standard_case_drug.dropna() 
 
print("After dropping Null values ", standard_case_drug.isna().sum())
standard_case_drug.head()

After dropping Null values  drug_seq               0
role_cod               0
standard_concept_id    0
pri_isr                0
dtype: int64

     drug_seq role_cod  standard_concept_id      pri_isr
0           4        C               711584  101551742.0
1  1006505295        C             19011773    4787243.0
2  1013792507       SS             40163615    6751326.0
3  1007299260        C              1154029    4995268.0
4           1       PS              1110942   92198372.0

### standard_case_indication

In [14]:
standard_case_indication=pd.read_csv('standard_case_indication.tsv',delimiter='\t',header=None,low_memory=False,na_values=['\\N'],names=['primaryid','isr','indi_drug_seq','indi_pt','indication_concept_id','snomed_indication_concept_id'])

In [15]:
standard_case_indication.head()

,primaryid,isr,indi_drug_seq,indi_pt,indication_concept_id,snomed_indication_concept_id
0,100033011.0,NaN,1,Product used for unknown indication,42890454,NaN
1,100033061.0,NaN,1,Product used for unknown indication,42890454,NaN
2,100033001.0,NaN,1,Osteoporosis,36416551,80502.0
3,NaN,6049067.0,1011029603,INSOMNIA,36718555,436962.0
4,NaN,6320997.0,1012098708,ASTHMA,36009700,317009.0

In [16]:
print("The dataset contains",standard_case_indication.shape[0], "observations and", standard_case_indication.shape[1], "variables.")
print("Null values ", round((standard_case_indication.isna().sum()/standard_case_indication.shape[0]) *100),2)

The dataset contains 8637264 observations and 6 variables.
Null values  primaryid                       56.0
isr                             44.0
indi_drug_seq                    0.0
indi_pt                          0.0
indication_concept_id            0.0
snomed_indication_concept_id    36.0
dtype: float64 2

In [17]:

standard_case_indication['pri_isr']=standard_case_indication['primaryid']
standard_case_indication['pri_isr'].fillna(value = standard_case_indication['isr'],  inplace = True) 
standard_case_indication.drop(['primaryid','isr'],inplace=True, axis=1)
standard_case_indication=standard_case_indication.dropna() 
 
print("After dropping Null values ", standard_case_indication.isna().sum())
standard_case_indication.head()

After dropping Null values  indi_drug_seq                   0
indi_pt                         0
indication_concept_id           0
snomed_indication_concept_id    0
pri_isr                         0
dtype: int64

,indi_drug_seq,indi_pt,indication_concept_id,snomed_indication_concept_id,pri_isr
2,1,Osteoporosis,36416551,80502.0,100033001.0
3,1011029603,INSOMNIA,36718555,436962.0,6049067.0
4,1012098708,ASTHMA,36009700,317009.0,6320997.0
5,1,Pulmonary hypertension,37219868,4322024.0,100033112.0
6,2,Cardiac failure congestive,35205243,319835.0,100033112.0

In [18]:
standard_case_indication=standard_case_indication.dropna()  
print("Null values ", standard_case_indication.isna().sum())

Null values  indi_drug_seq                   0
indi_pt                         0
indication_concept_id           0
snomed_indication_concept_id    0
pri_isr                         0
dtype: int64

### standard_case_outcome

In [19]:
standard_case_outcome=pd.read_csv('standard_case_outcome.tsv',delimiter='\t',na_values=['\\N'],header=None,low_memory=False,names=['primaryid','isr','pt','outcome_concept_id','snomed_outcome_concept_id']) 
standard_case_outcome.shape

(15745760, 5)

In [20]:
standard_case_outcome.head()

,primaryid,isr,pt,outcome_concept_id,snomed_outcome_concept_id
0,NaN,8310062.0,EYE IRRITATION,35607122,NaN
1,NaN,7794268.0,CONVULSION,36718526,377091.0
2,NaN,7794268.0,PYREXIA,35809054,437663.0
3,NaN,7794269.0,ANGINA PECTORIS,35205181,321318.0
4,NaN,7794269.0,CEREBROVASCULAR DISORDER,36718045,381591.0

In [21]:
print("The dataset contains",standard_case_outcome.shape[0], "observations and", standard_case_outcome.shape[1], "variables.")
print("Null values ", round((standard_case_outcome.isna().sum()/standard_case_outcome.shape[0]) *100),2)

The dataset contains 15745760 observations and 5 variables.
Null values  primaryid                    63.0
isr                          37.0
pt                            0.0
outcome_concept_id            0.0
snomed_outcome_concept_id    20.0
dtype: float64 2

In [22]:
standard_case_outcome['pri_isr']=standard_case_outcome['primaryid']
standard_case_outcome['pri_isr'].fillna(value = standard_case_outcome['isr'],  inplace = True) 
standard_case_outcome.drop(['primaryid','isr'],inplace=True, axis=1)

In [23]:
standard_case_outcome=standard_case_outcome.dropna() 
 
print("After dropping Null values ", standard_case_outcome.isna().sum())
standard_case_outcome.head()

After dropping Null values  pt                           0
outcome_concept_id           0
snomed_outcome_concept_id    0
pri_isr                      0
dtype: int64

,pt,outcome_concept_id,snomed_outcome_concept_id,pri_isr
1,CONVULSION,36718526,377091.0,7794268.0
2,PYREXIA,35809054,437663.0,7794268.0
3,ANGINA PECTORIS,35205181,321318.0,7794269.0
4,CEREBROVASCULAR DISORDER,36718045,381591.0,7794269.0
5,COMPLICATIONS OF TRANSPLANTED KIDNEY,36211758,199991.0,7794269.0

### standard_case_outcome_category

In [24]:
standard_case_outcome_category=pd.read_csv('standard_case_outcome_category.tsv',delimiter='\t',na_values=['\\N'],low_memory=False,header=None,names=['primaryid','isr','outc_code' ,'snomed_concept_id']) 
standard_case_outcome_category.shape

(5700244, 4)

In [25]:
standard_case_outcome_category.head()

     primaryid        isr outc_code  snomed_concept_id
0  101992751.0        NaN       NaN                NaN
1          NaN  5508037.0        OT          4001594.0
2          NaN  5940395.0        OT          4001594.0
3  101935161.0        NaN       NaN                NaN
4   89828952.0        NaN        OT          4001594.0

In [26]:
print("The dataset contains",standard_case_outcome_category.shape[0], "observations and", standard_case_outcome_category.shape[1], "variables.")
print("Null values ", round((standard_case_outcome_category.isna().sum()/standard_case_outcome_category.shape[0]) *100),2)

The dataset contains 5700244 observations and 4 variables.
Null values  primaryid            62.0
isr                  38.0
outc_code            31.0
snomed_concept_id    31.0
dtype: float64 2

In [27]:
standard_case_outcome_category['pri_isr']=standard_case_outcome_category['primaryid']
standard_case_outcome_category['pri_isr'].fillna(value = standard_case_outcome_category['isr'],  inplace = True) 
standard_case_outcome_category.drop(['primaryid','isr'],inplace=True, axis=1)

In [28]:
standard_case_outcome_category=standard_case_outcome_category.dropna() 
 
print("After dropping Null values ", standard_case_outcome_category.isna().sum())
standard_case_outcome_category.head()

After dropping Null values  outc_code            0
snomed_concept_id    0
pri_isr              0
dtype: int64

  outc_code  snomed_concept_id     pri_isr
1        OT          4001594.0   5508037.0
2        OT          4001594.0   5940395.0
4        OT          4001594.0  89828952.0
5        OT          4001594.0  96256912.0
6        OT          4001594.0   5715288.0

#### standard_drug_outcome_contingency_table

In [29]:
standard_drug_outcome_contingency_table=pd.read_csv('standard_drug_outcome_contingency_table.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['drug_concept_id','outcome_concept_id','count_a','count_b','count_c','count_d'])

In [30]:
standard_drug_outcome_contingency_table.head()

   drug_concept_id  outcome_concept_id  count_a   count_b  count_c   count_d
0           702865            35104065        1    8365.0    256.0  60658372
1           705103            35104065        1  186947.0    256.0  60479790
2           710062            35104065        5  184297.0    252.0  60482440
3           711584            35104065        2  106731.0    255.0  60560006
4           713196            35104065        1   58809.0    256.0  60607928

In [31]:
print("The dataset contains",standard_drug_outcome_contingency_table.shape[0], "observations and", standard_drug_outcome_contingency_table.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_contingency_table.isna().sum()/standard_drug_outcome_contingency_table.shape[0]) *100),2)

The dataset contains 3766382 observations and 6 variables.
Null values  drug_concept_id       0.0
outcome_concept_id    0.0
count_a               0.0
count_b               0.0
count_c               0.0
count_d               0.0
dtype: float64 2

#### standard_drug_outcome_count

In [32]:
standard_drug_outcome_count=pd.read_csv('standard_drug_outcome_count.tsv',delimiter='\t',na_values=['\\N'],header=None,low_memory=False,names=['drug_concept_id','outcome_concept_id','drug_outcome_pair_count','snomed_outcome_concept_id']) 
standard_drug_outcome_count.shape

(3766382, 4)

In [33]:
standard_drug_outcome_count.head()

,drug_concept_id,outcome_concept_id,drug_outcome_pair_count,snomed_outcome_concept_id
0,1769535,35708310,2,4119306.0
1,19011773,35707684,36,4281516.0
2,1774470,37019455,3,4171974.0
3,1307046,36211765,1,NaN
4,1153664,36211690,3,NaN

In [34]:
print("The dataset contains",standard_drug_outcome_count.shape[0], "observations and", standard_drug_outcome_count.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_count.isna().sum()/standard_drug_outcome_count.shape[0]) *100),2)

The dataset contains 3766382 observations and 4 variables.
Null values  drug_concept_id               0.0
outcome_concept_id            0.0
drug_outcome_pair_count       0.0
snomed_outcome_concept_id    34.0
dtype: float64 2

In [35]:
standard_drug_outcome_count=standard_drug_outcome_count.dropna() 
 
print("After dropping Null values ", standard_drug_outcome_count.isna().sum())
standard_drug_outcome_count.head()

After dropping Null values  drug_concept_id              0
outcome_concept_id           0
drug_outcome_pair_count      0
snomed_outcome_concept_id    0
dtype: int64

,drug_concept_id,outcome_concept_id,drug_outcome_pair_count,snomed_outcome_concept_id
0,1769535,35708310,2,4119306.0
1,19011773,35707684,36,4281516.0
2,1774470,37019455,3,4171974.0
5,937368,35707781,9,201131.0
6,19054825,35104349,1,135768.0

### standard_drug_outcome_drilldown

In [36]:
standard_drug_outcome_drilldown=pd.read_csv('standard_drug_outcome_drilldown.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['drug_concept_id','outcome_concept_id','snomed_outcome_concept_id','primaryid','isr']) 
standard_drug_outcome_drilldown.shape

(60666994, 5)

In [37]:
standard_drug_outcome_drilldown.head()

,drug_concept_id,outcome_concept_id,snomed_outcome_concept_id,primaryid,isr
0,19097016,37622522,NaN,NaN,4572294.0
1,19097016,37622529,316866.0,77122895.0,NaN
2,19097016,37622529,316866.0,92663843.0,NaN
3,19097016,37622529,316866.0,94648863.0,NaN
4,19097016,37622529,316866.0,NaN,4440060.0

In [38]:
print("The dataset contains",standard_drug_outcome_drilldown.shape[0], "observations and", standard_drug_outcome_drilldown.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_drilldown.isna().sum()/standard_drug_outcome_drilldown.shape[0]) *100),2)

The dataset contains 60666994 observations and 5 variables.
Null values  drug_concept_id               0.0
outcome_concept_id            0.0
snomed_outcome_concept_id    18.0
primaryid                    65.0
isr                          35.0
dtype: float64 2

In [39]:
standard_drug_outcome_drilldown['pri_isr']=standard_drug_outcome_drilldown['primaryid']
standard_drug_outcome_drilldown['pri_isr'].fillna(value = standard_drug_outcome_drilldown['isr'],  inplace = True) 
standard_drug_outcome_drilldown.drop(['primaryid','isr'],inplace=True, axis=1)

In [40]:
standard_drug_outcome_drilldown=standard_drug_outcome_drilldown.dropna() 
 
print("After dropping Null values ", standard_drug_outcome_drilldown.isna().sum())
standard_drug_outcome_drilldown.head()

After dropping Null values  drug_concept_id              0
outcome_concept_id           0
snomed_outcome_concept_id    0
pri_isr                      0
dtype: int64

   drug_concept_id  outcome_concept_id  snomed_outcome_concept_id     pri_isr
1         19097016            37622529                   316866.0  77122895.0
2         19097016            37622529                   316866.0  92663843.0
3         19097016            37622529                   316866.0  94648863.0
4         19097016            37622529                   316866.0   4440060.0
5         19097016            37622529                   316866.0   4456349.0

### standard_drug_outcome_statistics

In [41]:
standard_drug_outcome_statistics=pd.read_csv('standard_drug_outcome_statistics.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['drug_concept_id','outcome_concept_id','snomed_outcome_concept_id','case_count','prr', 'prr_95_percent_upper_confidence_limit', 'prr_95_percent_lower_confidence_limit' ,'ror' ,'ror_95_percent_upper_confidence_limit' ,'ror_95_percent_lower_confidence_limit']) 
standard_drug_outcome_statistics.shape

(3766382, 10)

In [42]:
standard_drug_outcome_statistics.head()

,drug_concept_id,outcome_concept_id,snomed_outcome_concept_id,case_count,prr,prr_95_percent_upper_confidence_limit,prr_95_percent_lower_confidence_limit,ror,ror_95_percent_upper_confidence_limit,ror_95_percent_lower_confidence_limit
0,918906,35104067,432588.0,1,1.10027,7.82057,0.15480,1.10027,7.82080,0.15479
1,19080406,35104070,436659.0,1,2.60101,18.45177,0.36665,2.60230,18.49021,0.36625
2,1115572,35104074,439777.0,108,0.53708,0.64839,0.44488,0.53570,0.64709,0.44348
3,1315027,35104074,439777.0,12,0.53124,0.93466,0.30194,0.52985,0.93379,0.30065
4,43526424,35104074,439777.0,65,0.12473,0.15905,0.09782,0.12412,0.15830,0.09733

In [43]:
print("The dataset contains",standard_drug_outcome_statistics.shape[0], "observations and", standard_drug_outcome_statistics.shape[1], "variables.")
print("Null values ", round((standard_drug_outcome_statistics.isna().sum()/standard_drug_outcome_statistics.shape[0]) *100),2)

The dataset contains 3766382 observations and 10 variables.
Null values  drug_concept_id                           0.0
outcome_concept_id                        0.0
snomed_outcome_concept_id                34.0
case_count                                0.0
prr                                       0.0
prr_95_percent_upper_confidence_limit     0.0
prr_95_percent_lower_confidence_limit     0.0
ror                                       0.0
ror_95_percent_upper_confidence_limit     0.0
ror_95_percent_lower_confidence_limit     0.0
dtype: float64 2

### standard_unique_all_case

In [44]:
standard_unique_all_case=pd.read_csv('standard_unique_all_case.tsv',low_memory=False,na_values=['\\N'],delimiter='\t',header=None,names=['caseid','primaryid','isr'])

In [45]:
standard_unique_all_case.head()

       caseid    primaryid  isr
0   9568691.0   95686911.0  NaN
1   9072290.0   90722901.0  NaN
2  10685148.0  106851481.0  NaN
3   9598597.0   95985971.0  NaN
4  10058768.0  100587681.0  NaN

In [46]:
print("The dataset contains",standard_unique_all_case.shape[0], "observations and", standard_unique_all_case.shape[1], "variables.")
print("Null values ", round((standard_unique_all_case.isna().sum()/standard_unique_all_case.shape[0]) *100),2)

The dataset contains 4929388 observations and 3 variables.
Null values  caseid        0.0
primaryid    61.0
isr          39.0
dtype: float64 2

In [47]:
standard_unique_all_case['pri_isr']=standard_unique_all_case['primaryid']
standard_unique_all_case['pri_isr'].fillna(value = standard_unique_all_case['isr'],  inplace = True) 
standard_unique_all_case.drop(['primaryid','isr'],inplace=True, axis=1)

In [48]:
standard_unique_all_case=standard_unique_all_case.dropna() 
 
print("After dropping Null values ", standard_unique_all_case.isna().sum())
standard_unique_all_case.head()

After dropping Null values  caseid     0
pri_isr    0
dtype: int64

       caseid      pri_isr
0   9568691.0   95686911.0
1   9072290.0   90722901.0
2  10685148.0  106851481.0
3   9598597.0   95985971.0
4  10058768.0  100587681.0

### Merging Data -Vocabulary and Concept

In [49]:
print("columns Present in concept: ", concept.columns)
print("columns Present in vocabulary: ", vocabulary.columns)

columns Present in concept:  Index(['concept_id', 'concept_name', 'domain_id', 'vocabulary_id',
       'concept_class_id', 'concept_code', 'valid_start_date',
       'valid_end_date'],
      dtype='object')
columns Present in vocabulary:  Index(['vocabulary_id', 'vocabulary_name', 'vocabulary_reference',
       'vocabulary_concept_id'],
      dtype='object')

In [50]:
con_voc_df = pd.merge(concept, vocabulary, on=('vocabulary_id'), how='inner')
con_voc_df.shape

(2361145, 11)

In [51]:

print("columns Present in con_voc_df: ", con_voc_df.columns)

columns Present in con_voc_df:  Index(['concept_id', 'concept_name', 'domain_id', 'vocabulary_id',
       'concept_class_id', 'concept_code', 'valid_start_date',
       'valid_end_date', 'vocabulary_name', 'vocabulary_reference',
       'vocabulary_concept_id'],
      dtype='object')

In [52]:
con_voc_df.isna().sum()

concept_id               0
concept_name             0
domain_id                0
vocabulary_id            0
concept_class_id         0
concept_code             0
valid_start_date         0
valid_end_date           0
vocabulary_name          0
vocabulary_reference     0
vocabulary_concept_id    0
dtype: int64

In [53]:
con_voc_df.head().T

,0,1,2,3,4
concept_id,0,1,2,3,4
concept_name,No matching concept,Domain,Gender,Race,Ethnicity
domain_id,Metadata,Metadata,Metadata,Metadata,Metadata
vocabulary_id,None,Domain,Domain,Domain,Domain
concept_class_id,Undefined,Domain,Domain,Domain,Domain
concept_code,No matching concept,OMOP generated,OMOP generated,OMOP generated,OMOP generated
valid_start_date,1970-01-01,1970-01-01,1970-01-01,1970-01-01,1970-01-01
valid_end_date,2099-12-31,2099-12-31,2099-12-31,2099-12-31,2099-12-31
vocabulary_name,OMOP Standardized Vocabularies,OMOP Domain,OMOP Domain,OMOP Domain,OMOP Domain
vocabulary_reference,OMOP generated,OMOP generated,OMOP generated,OMOP generated,OMOP generated
vocabulary_concept_id,44819096,44819147,44819147,44819147,44819147

### Merging Case details

In [54]:
standard_case_drug_1 = standard_case_drug.drop_duplicates(subset=['pri_isr'])
standard_case_indication_1 = standard_case_indication.drop_duplicates(subset=['pri_isr'])
standard_case_outcome_1 = standard_case_outcome.drop_duplicates(subset=['pri_isr'])
standard_case_outcome_category_1 = standard_case_outcome_category.drop_duplicates(subset=['pri_isr'])

In [55]:
print("columns Present in standard_case_drug_1: ", standard_case_drug_1.columns)
print("columns Present in standard_case_indication_1: ", standard_case_indication_1.columns)

columns Present in standard_case_drug_1:  Index(['drug_seq', 'role_cod', 'standard_concept_id', 'pri_isr'], dtype='object')
columns Present in standard_case_indication_1:  Index(['indi_drug_seq', 'indi_pt', 'indication_concept_id',
       'snomed_indication_concept_id', 'pri_isr'],
      dtype='object')

In [56]:
standard_case_df_1=pd.merge(standard_case_drug_1,standard_case_indication_1,how="inner", on=['pri_isr'])

In [57]:
print("columns Present in standard_case_df_1: ", standard_case_df_1.columns)

columns Present in standard_case_df_1:  Index(['drug_seq', 'role_cod', 'standard_concept_id', 'pri_isr',
       'indi_drug_seq', 'indi_pt', 'indication_concept_id',
       'snomed_indication_concept_id'],
      dtype='object')

In [58]:
print(' # of rows in standard_case_drug -->',standard_case_drug_1.shape[0])
print(' # of rows in standard_case_indication -->',standard_case_indication_1.shape[0])
print(' # of rows in standard_case_df_1 -->',standard_case_df_1.shape[0])

 # of rows in standard_case_drug --> 4855564
 # of rows in standard_case_indication --> 3097282
 # of rows in standard_case_df_1 --> 3062595

In [59]:
standard_case_df_1.head().T

,0,1,2,3,4
drug_seq,4,1006505295,1013792507,1007299260,1
role_cod,C,C,SS,C,PS
standard_concept_id,711584,19011773,40163615,1154029,1110942
pri_isr,1.01552e+08,4.78724e+06,6.75133e+06,4.99527e+06,9.21984e+07
indi_drug_seq,4,1006480200,1013792506,1007257597,1
indi_pt,Convulsion,HEPATITIS C,HEART RATE IRREGULAR,SCHIZOAFFECTIVE DISORDER,Asthma
indication_concept_id,36718526,35909578,36311984,36919154,36009700
snomed_indication_concept_id,377091,197494,4.26298e+06,4.2862e+06,317009

In [60]:
print("columns Present in standard_case_outcome_1: ", standard_case_outcome_1.columns)
print("columns Present in standard_case_outcome_category_1: ", standard_case_outcome_category_1.columns)

columns Present in standard_case_outcome_1:  Index(['pt', 'outcome_concept_id', 'snomed_outcome_concept_id', 'pri_isr'], dtype='object')
columns Present in standard_case_outcome_category_1:  Index(['outc_code', 'snomed_concept_id', 'pri_isr'], dtype='object')

In [61]:
standard_case_df_2=pd.merge(standard_case_outcome_1,standard_case_outcome_category_1,how="inner", on='pri_isr')

In [62]:
print("columns Present in standard_case_df_2: ", standard_case_df_2.columns)

columns Present in standard_case_df_2:  Index(['pt', 'outcome_concept_id', 'snomed_outcome_concept_id', 'pri_isr',
       'outc_code', 'snomed_concept_id'],
      dtype='object')

In [63]:
print(' # of rows in standard_case_outcome -->',standard_case_outcome_1.shape[0])
print(' # of rows in standard_case_outcome_category -->',standard_case_outcome_category_1.shape[0])
print(' # of rows in standard_case_df_2 -->',standard_case_df_2.shape[0])

 # of rows in standard_case_outcome --> 4441899
 # of rows in standard_case_outcome_category --> 3189053
 # of rows in standard_case_df_2 --> 2993411

print(' # of rows in standard_case_outcome -->',standard_case_outcome.shape[0])
print(' # of rows in standard_case_outcome_category -->',standard_case_outcome_category.shape[0])
print(' # of rows in standard_case_df_2 -->',standard_case_df_2.shape[0])

In [64]:
standard_case_df_2.head().T

,0,1,2,3,4
pt,CONVULSION,ANGINA PECTORIS,DYSKINESIA,DYSKINESIA,CHONDROPATHY
outcome_concept_id,36718526,35205181,36718199,36718199,36517132
snomed_outcome_concept_id,377091,321318,373185,373185,81711
pri_isr,7.79427e+06,7.79427e+06,7.79427e+06,7.79427e+06,7.79428e+06
outc_code,OT,OT,HO,HO,OT
snomed_concept_id,4.00159e+06,4.00159e+06,8715,8715,4.00159e+06

In [65]:
print("columns Present in standard_case_df_1: ", standard_case_df_1.columns)
print("columns Present in standard_case_df_2: ", standard_case_df_2.columns)

columns Present in standard_case_df_1:  Index(['drug_seq', 'role_cod', 'standard_concept_id', 'pri_isr',
       'indi_drug_seq', 'indi_pt', 'indication_concept_id',
       'snomed_indication_concept_id'],
      dtype='object')
columns Present in standard_case_df_2:  Index(['pt', 'outcome_concept_id', 'snomed_outcome_concept_id', 'pri_isr',
       'outc_code', 'snomed_concept_id'],
      dtype='object')

In [66]:
 standard_case_df=pd.merge(standard_case_df_1, standard_case_df_2,how="inner", on=['pri_isr'])

In [67]:
print("columns Present in standard_case_df: ", standard_case_df.columns)

columns Present in standard_case_df:  Index(['drug_seq', 'role_cod', 'standard_concept_id', 'pri_isr',
       'indi_drug_seq', 'indi_pt', 'indication_concept_id',
       'snomed_indication_concept_id', 'pt', 'outcome_concept_id',
       'snomed_outcome_concept_id', 'outc_code', 'snomed_concept_id'],
      dtype='object')

In [68]:
print(' # of rows in standard_case_df_1-->',standard_case_df_1.shape[0])
print(' # of rows in standard_case_df_2 -->',standard_case_df_2.shape[0])
print(' # of rows in standard_case_df -->',standard_case_df.shape[0])

 # of rows in standard_case_df_1--> 3062595
 # of rows in standard_case_df_2 --> 2993411
 # of rows in standard_case_df --> 1906394

In [69]:
standard_case_df.head().T

,0,1,2,3,4
drug_seq,4,1006505295,1013792507,1007299260,1
role_cod,C,C,SS,C,PS
standard_concept_id,711584,19011773,40163615,1154029,1110942
pri_isr,1.01552e+08,4.78724e+06,6.75133e+06,4.99527e+06,9.21984e+07
indi_drug_seq,4,1006480200,1013792506,1007257597,1
indi_pt,Convulsion,HEPATITIS C,HEART RATE IRREGULAR,SCHIZOAFFECTIVE DISORDER,Asthma
indication_concept_id,36718526,35909578,36311984,36919154,36009700
snomed_indication_concept_id,377091,197494,4.26298e+06,4.2862e+06,317009
pt,Aspiration,NEUTROPENIA,ABDOMINAL PAIN UPPER,DEATH,Asthma
outcome_concept_id,37219937,35104883,35708156,35809059,36009700
snomed_outcome_concept_id,4.23904e+06,320073,4.30629e+06,434489,317009
outc_code,HO,OT,HO,DE,OT
snomed_concept_id,8715,4.00159e+06,8715,4.30666e+06,4.00159e+06

### merging data -Drug details

In [70]:
standard_drug_outcome_contingency_table_1 = standard_drug_outcome_contingency_table.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])
standard_drug_outcome_count_1 = standard_drug_outcome_count.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])
standard_drug_outcome_drilldown_1 = standard_drug_outcome_drilldown.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])
standard_drug_outcome_statistics_1 = standard_drug_outcome_statistics.drop_duplicates(subset=['drug_concept_id','outcome_concept_id'])

In [71]:
print("columns Present in standard_drug_outcome_contingency_table_1: ", standard_drug_outcome_contingency_table_1.columns)
print("columns Present in standard_drug_outcome_count_1: ", standard_drug_outcome_count_1.columns)

columns Present in standard_drug_outcome_contingency_table_1:  Index(['drug_concept_id', 'outcome_concept_id', 'count_a', 'count_b',
       'count_c', 'count_d'],
      dtype='object')
columns Present in standard_drug_outcome_count_1:  Index(['drug_concept_id', 'outcome_concept_id', 'drug_outcome_pair_count',
       'snomed_outcome_concept_id'],
      dtype='object')

In [72]:
 standard_drug_df_1=pd.merge(standard_drug_outcome_contingency_table_1, standard_drug_outcome_count_1, how="inner", on=['drug_concept_id','outcome_concept_id'])

In [73]:
standard_drug_df_1.columns

Index(['drug_concept_id', 'outcome_concept_id', 'count_a', 'count_b',
       'count_c', 'count_d', 'drug_outcome_pair_count',
       'snomed_outcome_concept_id'],
      dtype='object')

In [74]:
print(' # of rows in standard_case_df_1-->',standard_drug_outcome_contingency_table_1.shape[0])
print(' # of rows in standard_case_df_2 -->',standard_drug_outcome_count_1.shape[0])
print(' # of rows in standard_drug_df_1 -->',standard_drug_df_1.shape[0])

 # of rows in standard_case_df_1--> 3766382
 # of rows in standard_case_df_2 --> 2503493
 # of rows in standard_drug_df_1 --> 2503493

In [75]:
print("columns Present in standard_drug_outcome_drilldown_1: ", standard_drug_outcome_drilldown_1.columns)
print("columns Present in standard_drug_outcome_statistics_1: ", standard_drug_outcome_statistics_1.columns)

columns Present in standard_drug_outcome_drilldown_1:  Index(['drug_concept_id', 'outcome_concept_id', 'snomed_outcome_concept_id',
       'pri_isr'],
      dtype='object')
columns Present in standard_drug_outcome_statistics_1:  Index(['drug_concept_id', 'outcome_concept_id', 'snomed_outcome_concept_id',
       'case_count', 'prr', 'prr_95_percent_upper_confidence_limit',
       'prr_95_percent_lower_confidence_limit', 'ror',
       'ror_95_percent_upper_confidence_limit',
       'ror_95_percent_lower_confidence_limit'],
      dtype='object')

In [76]:
 standard_drug_df_2=pd.merge(standard_drug_outcome_drilldown_1, standard_drug_outcome_statistics_1, how="inner", on=['drug_concept_id','outcome_concept_id','snomed_outcome_concept_id'])

In [77]:
standard_drug_df_2.columns

Index(['drug_concept_id', 'outcome_concept_id', 'snomed_outcome_concept_id',
       'pri_isr', 'case_count', 'prr', 'prr_95_percent_upper_confidence_limit',
       'prr_95_percent_lower_confidence_limit', 'ror',
       'ror_95_percent_upper_confidence_limit',
       'ror_95_percent_lower_confidence_limit'],
      dtype='object')

In [78]:
print(' # of rows in standard_drug_outcome_drilldown-->',standard_drug_outcome_drilldown_1.shape[0])
print(' # of rows in standard_drug_outcome_statistics -->',standard_drug_outcome_statistics_1.shape[0])
print(' # of rows in standard_drug_df_2 -->',standard_drug_df_2.shape[0])

 # of rows in standard_drug_outcome_drilldown--> 2503493
 # of rows in standard_drug_outcome_statistics --> 3766382
 # of rows in standard_drug_df_2 --> 2503493

In [79]:
print("columns Present in standard_drug_df_1: ", standard_drug_df_1.columns)
print("columns Present in standard_drug_df_2: ", standard_drug_df_2.columns)

columns Present in standard_drug_df_1:  Index(['drug_concept_id', 'outcome_concept_id', 'count_a', 'count_b',
       'count_c', 'count_d', 'drug_outcome_pair_count',
       'snomed_outcome_concept_id'],
      dtype='object')
columns Present in standard_drug_df_2:  Index(['drug_concept_id', 'outcome_concept_id', 'snomed_outcome_concept_id',
       'pri_isr', 'case_count', 'prr', 'prr_95_percent_upper_confidence_limit',
       'prr_95_percent_lower_confidence_limit', 'ror',
       'ror_95_percent_upper_confidence_limit',
       'ror_95_percent_lower_confidence_limit'],
      dtype='object')

In [80]:
 standard_drug_df=pd.merge(standard_drug_df_1, standard_drug_df_2, how="inner", on=['drug_concept_id','outcome_concept_id','snomed_outcome_concept_id'])

In [81]:
standard_drug_df.columns

Index(['drug_concept_id', 'outcome_concept_id', 'count_a', 'count_b',
       'count_c', 'count_d', 'drug_outcome_pair_count',
       'snomed_outcome_concept_id', 'pri_isr', 'case_count', 'prr',
       'prr_95_percent_upper_confidence_limit',
       'prr_95_percent_lower_confidence_limit', 'ror',
       'ror_95_percent_upper_confidence_limit',
       'ror_95_percent_lower_confidence_limit'],
      dtype='object')

In [82]:
print(' # of rows in standard_drug_outcome_drilldown-->',standard_drug_df_1.shape[0])
print(' # of rows in standard_drug_outcome_statistics -->',standard_drug_df_2.shape[0])
print(' # of rows in standard_drug_df -->',standard_drug_df.shape[0])

 # of rows in standard_drug_outcome_drilldown--> 2503493
 # of rows in standard_drug_outcome_statistics --> 2503493
 # of rows in standard_drug_df --> 2503493

In [83]:
standard_drug_df.head().T

,0,1,2,3,4
drug_concept_id,7.028650e+05,7.051030e+05,7.100620e+05,7.115840e+05,7.131960e+05
outcome_concept_id,3.510406e+07,3.510406e+07,3.510406e+07,3.510406e+07,3.510406e+07
count_a,1.000000e+00,1.000000e+00,5.000000e+00,2.000000e+00,1.000000e+00
count_b,8.365000e+03,1.869470e+05,1.842970e+05,1.067310e+05,5.880900e+04
count_c,2.560000e+02,2.560000e+02,2.520000e+02,2.550000e+02,2.560000e+02
count_d,6.065837e+07,6.047979e+07,6.048244e+07,6.056001e+07,6.060793e+07
drug_outcome_pair_count,1.000000e+00,1.000000e+00,5.000000e+00,2.000000e+00,1.000000e+00
snomed_outcome_concept_id,4.409770e+05,4.409770e+05,4.409770e+05,4.409770e+05,4.409770e+05
pri_isr,6.555603e+06,7.270702e+06,8.959614e+07,1.059667e+08,7.508078e+06
case_count,1.000000e+00,1.000000e+00,5.000000e+00,2.000000e+00,1.000000e+00
prr,2.832271e+01,1.263720e+00,6.511340e+00,4.450190e+00,4.025690e+00
prr_95_percent_upper_confidence_limit,2.018190e+02,9.005900e+00,1.577972e+01,1.789083e+01,2.868871e+01
prr_95_percent_lower_confidence_limit,3.974730e+00,1.773300e-01,2.686840e+00,1.106950e+00,5.649000e-01
ror,2.832597e+01,1.263720e+00,6.511490e+00,4.450260e+00,4.025740e+00
ror_95_percent_upper_confidence_limit,2.018895e+02,9.006010e+00,1.578046e+01,1.789155e+01,2.869003e+01
ror_95_percent_lower_confidence_limit,3.974260e+00,1.773300e-01,2.686840e+00,1.106940e+00,5.648900e-01

### Merging Drug and Case details

In [84]:
print("columns Present in standard_case_df: ", standard_case_df.columns)
print("columns Present in standard_drug_df: ", standard_drug_df.columns)

columns Present in standard_case_df:  Index(['drug_seq', 'role_cod', 'standard_concept_id', 'pri_isr',
       'indi_drug_seq', 'indi_pt', 'indication_concept_id',
       'snomed_indication_concept_id', 'pt', 'outcome_concept_id',
       'snomed_outcome_concept_id', 'outc_code', 'snomed_concept_id'],
      dtype='object')
columns Present in standard_drug_df:  Index(['drug_concept_id', 'outcome_concept_id', 'count_a', 'count_b',
       'count_c', 'count_d', 'drug_outcome_pair_count',
       'snomed_outcome_concept_id', 'pri_isr', 'case_count', 'prr',
       'prr_95_percent_upper_confidence_limit',
       'prr_95_percent_lower_confidence_limit', 'ror',
       'ror_95_percent_upper_confidence_limit',
       'ror_95_percent_lower_confidence_limit'],
      dtype='object')

In [85]:
standard_case_df_1 = standard_case_df.drop_duplicates(subset=['pri_isr','outcome_concept_id','snomed_outcome_concept_id'])
standard_drug_df_1 = standard_drug_df.drop_duplicates(subset=['drug_concept_id','outcome_concept_id','snomed_outcome_concept_id'])

In [86]:
 standard_drug_case=pd.merge(standard_case_df_1, standard_drug_df_1, how="inner", on=['pri_isr','outcome_concept_id','snomed_outcome_concept_id'])

In [87]:
print(' # of rows in standard_case_df-->',standard_case_df_1.shape[0])
print(' # of rows in standard_drug_df -->',standard_drug_df_1.shape[0])
print(' # of rows in standard_drug_case -->',standard_drug_case.shape[0])

 # of rows in standard_case_df--> 1906394
 # of rows in standard_drug_df --> 2503493
 # of rows in standard_drug_case --> 371539

In [88]:
standard_drug_case.columns

Index(['drug_seq', 'role_cod', 'standard_concept_id', 'pri_isr',
       'indi_drug_seq', 'indi_pt', 'indication_concept_id',
       'snomed_indication_concept_id', 'pt', 'outcome_concept_id',
       'snomed_outcome_concept_id', 'outc_code', 'snomed_concept_id',
       'drug_concept_id', 'count_a', 'count_b', 'count_c', 'count_d',
       'drug_outcome_pair_count', 'case_count', 'prr',
       'prr_95_percent_upper_confidence_limit',
       'prr_95_percent_lower_confidence_limit', 'ror',
       'ror_95_percent_upper_confidence_limit',
       'ror_95_percent_lower_confidence_limit'],
      dtype='object')

In [89]:
standard_drug_case.head().T

,0,1,2,3,4
drug_seq,1009231624,1009231624,1014666548,1009716790,1009716790
role_cod,C,C,SS,C,C
standard_concept_id,1103640,1103640,744740,19039639,19039639
pri_isr,5.53624e+06,5.53624e+06,6.98514e+06,5.68499e+06,5.68499e+06
indi_drug_seq,1009231609,1009231609,1014666540,1009716785,1009716785
indi_pt,NON-SMALL CELL LUNG CANCER,NON-SMALL CELL LUNG CANCER,RECTAL CANCER,HYPERPARATHYROIDISM SECONDARY,HYPERPARATHYROIDISM SECONDARY
indication_concept_id,36617836,36617836,35708409,35506747,35506747
snomed_indication_concept_id,4.11528e+06,4.11528e+06,74582,138388,138388
pt,LUNG CANCER METASTATIC,LUNG CANCER METASTATIC,ANAL FISTULA,FEMORAL ARTERY OCCLUSION,FEMORAL ARTERY OCCLUSION
outcome_concept_id,36617886,36617886,35707792,37622426,37622426
snomed_outcome_concept_id,254591,254591,76725,4.19306e+06,4.19306e+06
outc_code,DE,DE,HO,HO,HO
snomed_concept_id,4.30666e+06,4.30666e+06,8715,8715,8715
drug_concept_id,766814,40131393,40002706,1517740,19001311
count_a,6,1,1,3,2
count_b,301426,15986,59314,19141,7945
count_c,4359,4364,4416,2142,2143
count_d,60361203,60646643,60603263,60645708,60656904
drug_outcome_pair_count,6,1,1,3,2
case_count,6,1,1,3,2
prr,0.27565,0.86933,0.23138,4.43695,7.12361
prr_95_percent_upper_confidence_limit,0.61391,6.17269,1.64301,13.767,28.4975
prr_95_percent_lower_confidence_limit,0.12377,0.12243,0.03259,1.42998,1.78071
ror,0.27564,0.86933,0.23137,4.43749,7.12515
ror_95_percent_upper_confidence_limit,0.61389,6.17339,1.64297,13.7712,28.5136
ror_95_percent_lower_confidence_limit,0.12376,0.12242,0.03258,1.4299,1.78048

In [90]:
standard_drug_case.shape

(371539, 26)

In [91]:
standard_drug_case['pt'].unique()

array(['LUNG CANCER METASTATIC', 'ANAL FISTULA',
       'FEMORAL ARTERY OCCLUSION', ..., 'PARAGANGLION NEOPLASM BENIGN',
       'Tendon calcification', 'Cerebellar artery occlusion'],
      dtype=object)

In [92]:
 drug_reaction_inputdf=pd.merge(standard_drug_case, con_voc_df, how="inner",  left_on=['drug_concept_id'], right_on = ['concept_id'])

In [93]:
drug_reaction_inputdf.shape

(370573, 37)

In [94]:
drug_reaction_inputdf.head().T

,0,1,2,3,4
drug_seq,1009231624,4,1013627283,1006204457,11
role_cod,C,C,C,C,SS
standard_concept_id,1103640,1503297,1125315,1396131,750982
pri_isr,5.53624e+06,9.79334e+07,6.70129e+06,4.70976e+06,1.00572e+08
indi_drug_seq,1009231609,1,1013588697,1006186216,1
indi_pt,NON-SMALL CELL LUNG CANCER,Depression,DIABETES MELLITUS,SLEEP DISORDER,Depression
indication_concept_id,36617836,36918942,35506609,36919209,36918942
snomed_indication_concept_id,4.11528e+06,440383,201820,435524,440383
pt,LUNG CANCER METASTATIC,Congenital spinal cord anomaly,ACUTE LEFT VENTRICULAR FAILURE,COLONIC POLYP,Decreased activity
outcome_concept_id,36617886,35306051,35205254,35707594,35809075
snomed_outcome_concept_id,254591,133013,4.10824e+06,4.2859e+06,4.19548e+06
outc_code,DE,OT,HO,HO,OT
snomed_concept_id,4.30666e+06,4.00159e+06,8715,8715,4.00159e+06
drug_concept_id,766814,766814,766814,766814,766814
count_a,6,1,3,24,46
count_b,301426,301431,301429,301408,301386
count_c,4359,144,674,11398,8474
count_d,60361203,60365418,60364888,60354164,60357088
drug_outcome_pair_count,6,1,3,24,46
case_count,6,1,3,24,46
prr,0.27565,1.39071,0.89138,0.42168,1.0871
prr_95_percent_upper_confidence_limit,0.61391,9.9404,2.77078,0.62938,1.45246
prr_95_percent_lower_confidence_limit,0.12377,0.19457,0.28676,0.28252,0.81364
ror,0.27564,1.39071,0.89138,0.42163,1.08711
ror_95_percent_upper_confidence_limit,0.61389,9.94047,2.77081,0.62933,1.45254
ror_95_percent_lower_confidence_limit,0.12376,0.19457,0.28676,0.28248,0.81362
concept_id,766814,766814,766814,766814,766814
concept_name,quetiapine,quetiapine,quetiapine,quetiapine,quetiapine
domain_id,Drug,Drug,Drug,Drug,Drug
vocabulary_id,RxNorm,RxNorm,RxNorm,RxNorm,RxNorm
concept_class_id,Ingredient,Ingredient,Ingredient,Ingredient,Ingredient
concept_code,51272,51272,51272,51272,51272
valid_start_date,1970-01-01,1970-01-01,1970-01-01,1970-01-01,1970-01-01
valid_end_date,2099-12-31,2099-12-31,2099-12-31,2099-12-31,2099-12-31
vocabulary_name,RxNorm (NLM),RxNorm (NLM),RxNorm (NLM),RxNorm (NLM),RxNorm (NLM)
vocabulary_reference,http://www.nlm.nih.gov/research/umls/rxnorm/do...,http://www.nlm.nih.gov/research/umls/rxnorm/do...,http://www.nlm.nih.gov/research/umls/rxnorm/do...,http://www.nlm.nih.gov/research/umls/rxnorm/do...,http://www.nlm.nih.gov/research/umls/rxnorm/do...
vocabulary_concept_id,44819104,44819104,44819104,44819104,44819104

In [95]:
drug_reaction_inputdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370573 entries, 0 to 370572
Data columns (total 37 columns):
drug_seq                                 370573 non-null int64
role_cod                                 370573 non-null object
standard_concept_id                      370573 non-null int64
pri_isr                                  370573 non-null float64
indi_drug_seq                            370573 non-null int64
indi_pt                                  370573 non-null object
indication_concept_id                    370573 non-null int64
snomed_indication_concept_id             370573 non-null float64
pt                                       370573 non-null object
outcome_concept_id                       370573 non-null int64
snomed_outcome_concept_id                370573 non-null float64
outc_code                                370573 non-null object
snomed_concept_id                        370573 non-null float64
drug_concept_id                          370573 non-null int64
count_a                                  370573 non-null int64
count_b                                  370512 non-null float64
count_c                                  370542 non-null float64
count_d                                  370573 non-null int64
drug_outcome_pair_count                  370573 non-null int64
case_count                               370573 non-null int64
prr                                      370481 non-null float64
prr_95_percent_upper_confidence_limit    370481 non-null float64
prr_95_percent_lower_confidence_limit    370481 non-null float64
ror                                      370481 non-null float64
ror_95_percent_upper_confidence_limit    370481 non-null float64
ror_95_percent_lower_confidence_limit    370481 non-null float64
concept_id                               370573 non-null int64
concept_name                             370573 non-null object
domain_id                                370573 non-null object
vocabulary_id                            370573 non-null object
concept_class_id                         370573 non-null object
concept_code                             370573 non-null object
valid_start_date                         370573 non-null object
valid_end_date                           370573 non-null object
vocabulary_name                          370573 non-null object
vocabulary_reference                     370573 non-null object
vocabulary_concept_id                    370573 non-null int64
dtypes: float64(12), int64(12), object(13)
memory usage: 107.4+ MB

In [96]:
drug_reaction_inputdf.dropna(inplace=True)

In [97]:
drug_reaction_inputdf['pri_isr'] =drug_reaction_inputdf['pri_isr'].astype(int)
drug_reaction_inputdf['snomed_indication_concept_id'] =drug_reaction_inputdf['snomed_indication_concept_id'].astype(int)
drug_reaction_inputdf['snomed_outcome_concept_id'] =drug_reaction_inputdf['snomed_outcome_concept_id'].astype(int)
drug_reaction_inputdf['count_b'] =drug_reaction_inputdf['count_b'].astype(int)
drug_reaction_inputdf['count_c'] =drug_reaction_inputdf['count_c'].astype(int)
drug_reaction_inputdf['snomed_concept_id'] =drug_reaction_inputdf['snomed_concept_id'].astype(int)

#### Writing into a .csv file

In [106]:
drug_reaction_inputdf.to_csv('drug_reaction_input.csv')

#### Missing values

In [98]:
drug_reaction_inputdf.isnull().sum(axis = 0)/len(drug_reaction_inputdf)*100

drug_seq                                 0.0
role_cod                                 0.0
standard_concept_id                      0.0
pri_isr                                  0.0
indi_drug_seq                            0.0
indi_pt                                  0.0
indication_concept_id                    0.0
snomed_indication_concept_id             0.0
pt                                       0.0
outcome_concept_id                       0.0
snomed_outcome_concept_id                0.0
outc_code                                0.0
snomed_concept_id                        0.0
drug_concept_id                          0.0
count_a                                  0.0
count_b                                  0.0
count_c                                  0.0
count_d                                  0.0
drug_outcome_pair_count                  0.0
case_count                               0.0
prr                                      0.0
prr_95_percent_upper_confidence_limit    0.0
prr_95_percent_lower_confidence_limit    0.0
ror                                      0.0
ror_95_percent_upper_confidence_limit    0.0
ror_95_percent_lower_confidence_limit    0.0
concept_id                               0.0
concept_name                             0.0
domain_id                                0.0
vocabulary_id                            0.0
concept_class_id                         0.0
concept_code                             0.0
valid_start_date                         0.0
valid_end_date                           0.0
vocabulary_name                          0.0
vocabulary_reference                     0.0
vocabulary_concept_id                    0.0
dtype: float64

In [99]:
drug_reaction_inputdf.nunique()

drug_seq                                  91553
role_cod                                      4
standard_concept_id                        2941
pri_isr                                  201909
indi_drug_seq                             91513
indi_pt                                    5515
indication_concept_id                      3452
snomed_indication_concept_id               3282
pt                                        11003
outcome_concept_id                         6267
snomed_outcome_concept_id                  5911
outc_code                                     7
snomed_concept_id                             7
drug_concept_id                            3785
count_a                                    1630
count_b                                   48041
count_c                                   43166
count_d                                  188629
drug_outcome_pair_count                    1630
case_count                                 1630
prr                                      257373
prr_95_percent_upper_confidence_limit    323501
prr_95_percent_lower_confidence_limit    175616
ror                                      259057
ror_95_percent_upper_confidence_limit    323714
ror_95_percent_lower_confidence_limit    175468
concept_id                                 3785
concept_name                               3785
domain_id                                     1
vocabulary_id                                 1
concept_class_id                              2
concept_code                               3785
valid_start_date                            100
valid_end_date                                1
vocabulary_name                               1
vocabulary_reference                          1
vocabulary_concept_id                         1
dtype: int64

In [100]:
drug_reaction_inputdf['outc_code'].value_counts()

OT    155375
HO    146800
DE     34370
LT     15516
DS     12275
CA      3348
RI      2797
Name: outc_code, dtype: int64

In [101]:
drug_reaction_inputdf['role_cod'].value_counts()

C     226024
PS     82425
SS     61063
I        969
Name: role_cod, dtype: int64

In [102]:
drug_reaction_inputdf['concept_name'].value_counts()

infliximab                                                                1457
Etanercept                                                                1168
Methotrexate                                                              1107
adalimumab                                                                1095
prednisolone                                                              1035
lenalidomide                                                              1035
Folic Acid                                                                1000
Interferon beta-1a                                                         992
levothyroxine                                                              917
Aspirin                                                                    910
Prednisone                                                                 897
rituximab                                                                  878
Omeprazole                                                                 837
Amlodipine                                                                 835
Acetaminophen                                                              833
Metformin                                                                  825
Dexamethasone                                                              808
pantoprazole                                                               806
atorvastatin                                                               804
lansoprazole                                                               779
Simvastatin                                                                770
Cyclophosphamide                                                           768
Azathioprine                                                               765
Somatropin                                                                 759
natalizumab                                                                750
Diclofenac                                                                 742
Allopurinol                                                                736
Bisoprolol                                                                 735
Furosemide                                                                 729
Ramipril                                                                   726
                                                                          ...
Sulfalene / Trimethoprim Oral Suspension                                     1
Flaxseed extract                                                             1
Chlorhexidine / Chlorobutanol Mouthwash                                      1
acetophenazine                                                               1
RICE BRAN                                                                    1
alginic acid / magnesium carbonate Oral Tablet                               1
Dimethoxanate                                                                1
aminoquinuride                                                               1
Chia Seed Oil                                                                1
silybin                                                                      1
3,3'-diindolylmethane                                                        1
Propionic acid                                                               1
microcrystalline cellulose                                                   1
quinfamide                                                                   1
Intrinsic factor                                                             1
Nitrogen / Oxygen Gas for Inhalation                                         1
indole                                                                       1
silver chloride                                                              1
Glycerin / Propylene glycol Ophthalmic Solution                              1
Methacycline                                                                 1
Mephentermine                                                                1
Dextromethorphan / Doxylamine / Phenylephrine Effervescent Oral Tablet       1
Acetylcysteine / L-methylfolate / mecobalamin Oral Tablet                    1
Fluprednisolone                                                              1
avocado oil                                                                  1
Nutmeg oil                                                                   1
Vanadium                                                                     1
Ascorbic Acid / Iron Carbonyl Oral Tablet                                    1
cobamamide / Vitamin B 12 Sublingual Tablet                                  1
ferric oxide                                                                 1
Name: concept_name, Length: 3785, dtype: int64

In [103]:
drug_reaction_inputdf.describe()

,drug_seq,standard_concept_id,pri_isr,indi_drug_seq,indication_concept_id,snomed_indication_concept_id,outcome_concept_id,snomed_outcome_concept_id,snomed_concept_id,drug_concept_id,...,drug_outcome_pair_count,case_count,prr,prr_95_percent_upper_confidence_limit,prr_95_percent_lower_confidence_limit,ror,ror_95_percent_upper_confidence_limit,ror_95_percent_lower_confidence_limit,concept_id,vocabulary_concept_id
count,3.704810e+05,3.704810e+05,3.704810e+05,3.704810e+05,3.704810e+05,3.704810e+05,3.704810e+05,3.704810e+05,3.704810e+05,3.704810e+05,...,370481.000000,370481.000000,370481.000000,3.704810e+05,370481.000000,370481.000000,3.704810e+05,370481.000000,3.704810e+05,370481.0
mean,3.998272e+08,6.417030e+06,6.617907e+07,3.998237e+08,3.642478e+07,1.423037e+06,3.622715e+07,2.305873e+06,3.979016e+06,9.071839e+06,...,21.387199,21.387199,21.369467,1.376742e+02,4.287618,23.487614,1.905590e+02,4.031558,9.071839e+06,44819104.0
std,4.942116e+08,1.123850e+07,7.570784e+07,4.942072e+08,1.434391e+06,2.362254e+06,1.055977e+06,3.411958e+06,7.878222e+06,1.312848e+07,...,147.744889,147.744889,850.983239,7.255561e+03,156.159808,1202.407367,1.699049e+04,115.472853,1.312848e+07,0.0
min,1.000000e+00,5.283230e+05,4.261871e+06,1.000000e+00,3.510407e+07,2.235000e+04,3.510406e+07,2.235000e+04,8.715000e+03,5.013430e+05,...,1.000000,1.000000,0.005140,1.644000e-02,0.000720,0.005140,1.640000e-02,0.000720,5.013430e+05,44819104.0
25%,3.000000e+00,9.751250e+05,6.255469e+06,1.000000e+00,3.570806e+07,1.976720e+05,3.570768e+07,3.184480e+05,8.715000e+03,1.000632e+06,...,1.000000,1.000000,0.709780,1.850570e+00,0.201160,0.709620,1.851240e+00,0.201050,1.000632e+06,44819104.0
50%,1.100000e+01,1.332418e+06,9.009461e+07,1.000000e+00,3.611059e+07,4.325740e+05,3.611036e+07,4.420770e+05,4.001594e+06,1.389888e+06,...,2.000000,2.000000,1.401530,4.721100e+00,0.492590,1.401920,4.725310e+00,0.492260,1.389888e+06,44819104.0
75%,1.007893e+09,1.746114e+06,1.008132e+08,1.007882e+09,3.671839e+07,4.029498e+06,3.671808e+07,4.170143e+06,4.001594e+06,1.902113e+07,...,8.000000,8.000000,3.654590,1.610386e+01,1.118860,3.657470,1.613903e+01,1.118330,1.902113e+07,44819104.0
max,1.020683e+09,4.623444e+07,1.049697e+09,1.020683e+09,4.588637e+07,4.478959e+07,4.588633e+07,4.478959e+07,4.048355e+07,4.623444e+07,...,35650.000000,35650.000000,280865.703700,2.262586e+06,69350.510410,561730.407410,9.038871e+06,34909.343270,4.623444e+07,44819104.0